ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

html,body{
	height: 100%;
}

body{
	padding-top: 50px;
	background: rgba(0,0,0,0.1);
}

.header{
	margin: 0;
}

.banner {
	width: 100%;
	padding: 0;
	background: white;
}

.banner ul {
	height: 40px;
}

.banner ul li {
	width: 20%;
	float: left;
	text-align: center;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}

.banner ul li h3{
	line-height: 40px;
}

.banner .underline {
	border-bottom: 2px solid green;
}

.content{
	padding-top: 5px;
}

.order_top{
	width: 100%;
	height: 25px;
	border-bottom: 1px rgba(0,0,0,0.1) solid;
	background: white;
}

.order_top p{
	height: 25px;
	padding-left: 15px;
	font-size: 1rem;
	text-align: left;
	line-height: 25px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.order_item{
	border-bottom: 1px rgba(0,0,0,0.1) solid;
	border-top: 1px rgba(0,0,0,0.1) solid;
	background: white;
	margin: 0 5px 5px 5px;
}

.cart .cart_item{
	padding: 5px 20px;
}

.location_info{
	width: 100%;
	padding: 0 10px;
	height: 75px;
	border-bottom: 1px rgba(0,0,0,0.1) solid;
	display: none;
}

.location_info li{
	width: 100%;
	height: 25px;
	padding: 0 5px;
	border-bottom: 1px rgba(0,0,0,0.1) solid;
}

.location_info li:last-of-type{
	border: none;
}

.location_info li h3{
	width: 20%;
	height: 25px;
	float: left;
	line-height: 25px;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.location_info li h3:last-of-type{
	width: 80%;
	float: right;
	text-align: right;
}

.item_comment{
	height: 20px;
	margin-left: 10px;
	padding: 0 5px;
	border-radius: 5px;
	background: rgba(5, 83, 33, 1);
	font-size: 1.25rem;
	line-height: 20px;
	color: white;
}

.order_bottom{
	width: 100%;
	height: 50px;
	padding: 5px 15px;
}

.order_location,.order_operation{
	height: 30px;
	margin-top: 5px;
	padding: 0 10px;
	border-radius: 5px;
	background: rgba(5, 83, 33, 1);
	font-size: 1.25rem;
	line-height: 30px;
	color: white;
	white-space: nowrap;	
	overflow: hidden;
	text-overflow: ellipsis;
}

.order_location{
	float: left;
}

.order_operation{
	float: right;
	margin-left: 10px;
}

.order_price{
	height: 40px;
	width: 30%;
	float: right;
	font-size: 1.25rem;
	text-align: right;
	line-height: 40px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}	

.attention .cart_empty{
	display: block;
}

 ::-webkit-input-placeholder {
	font-size: 1.4rem;
}

.comment{
	width: 100%;
	height: 100%;
	position: fixed;
	top:100%;
	left:0%;
	background: #fff;	
}

.com_content{
	width: 100%;
	height:93%;
	margin-top:50px;
}

.com_content .com_txt{
	width: 100%;
	height: 43%; 
}

.com_content .com_txt textarea{
	width: 100%;
	height: 70%;
	border:none;
	display: block;
	border-bottom: 1px solid #8D8D8D;
	font-size: 1.7rem;
	text-align: left;
	outline: none;
	overflow-x: hidden;
}

.com_content .com_txt p{
	width: 100%;
	height: 15%;
	font-size: 1rem;
	margin: 0px;
	cursor:pointer;
}

.com_content .com_txt p input{
	width: 96%;
	border:none;
	height: 90%;
	margin-left: 8px;
	margin-top:3px ;
	border-radius: 3px;
	background:rgba(5, 83, 33, 1);
	color: #fff;
	font-size: 1.5rem;
}

.com_content .com_txt p:nth-child(2){
	margin-top:10px;
}

.com_content .com_txt p:nth-child(3) input{
    background:#404040 ;
}

