ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

.banner {
	width: 100%;
	padding: 0;
	background: white;
}

.banner ul {
	height: 40px;
}

.banner ul li {
	width: 20%;
	float: left;
	text-align: center;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}

.banner ul li h3{
	line-height: 40px;
}

.banner .underline {
	border-bottom: 2px solid green;
}

.content{
	padding-top: 5px;
	background: rgba(0,0,0,0.1);
}

.order{
}

.order_item{
	border-bottom: 1px rgba(0,0,0,0.1) solid;
	border-top: 1px rgba(0,0,0,0.1) solid;
	background: white;
	margin: 0 5px 5px 5px;
}

.cart .cart_item{
	padding: 5px 20px;
}

.item_comment{
	height: 20px;
	margin-left: 10px;
	padding: 0 10px;
	border-radius: 5px;
	background: rgba(5, 83, 33, 1);
	font-size: 1.25rem;
	line-height: 20px;
	color: white;
}

.order_bottom{
	width: 100%;
	height: 50px;
	padding: 5px 15px;
}

.order_btn{
	height: 30px;
	margin: 5px 10px 0 5px;
	padding: 0 15px;
	float: left;
	border-radius: 5px;
	background: rgba(5, 83, 33, 1);
	font-size: 1.25rem;
	line-height: 30px;
	color: white;
}

.order_info {
	float: right;
}

.order_info p{
	height: 20px;
	font-size: 1.25rem;
	text-align: right;
	line-height: 20px;
}
