html,body{
	height: 100%;
}

body{
	padding-top: 50px;
	background: rgba(0,0,0,0.1);
}

.header{
	margin: 0;
}

.banner{
	width: 100%;
	height: 160px;
	position: relative;
	padding-top: 30px;
	border-bottom: 5px rgba(5, 83, 33, 1) solid;
	margin-bottom: 5px;
	background: white;
}

.banner .banner_top{
	width: 100%;
	height: 30px;
	padding: 0 30px 0 50px;
	justify-content: space-between;
	align-items: flex-end;
	display: none;
}

.banner .banner_top .username{
	float:left;
}

.banner .banner_top .phone{
	float: right;
}

.banner .banner_bottom{
	width: 100%;
	height: 100px;
	padding: 0 15px;
	justify-content: space-between;
	align-items: center;
	display: none;
}

.banner .banner_bottom img{
	width: 30px;
	height: auto;
	display: block;
}

.banner .banner_bottom .address{
	margin: 0 10px;
	text-overflow: ellipsis;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	flex:1;
}

.banner .banner_bottom img{
	width: auto;
	height: 30px;
}

.banner .banner_attention{
	width: 100%;
	height: 90px;
	padding: 10px 7% 0 0;
	justify-content: space-between;
	align-items: center;
	display: none;
}

.banner .banner_attention img:first-of-type{
	height: 80px;
}

.cart{
	display: block;
}

.cart .cart_item{
	width: auto;
	height: 170px;
	padding: 0;
	margin: 0 5px 5px 5px;
	background: white;
	display: block;
}

.cart .cart_item .item_top{
	width: 100%;
	height: 120px;
	padding: 5px 30px;
	border-bottom: 1px lightgrey solid;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.cart .cart_item .item_top .item_info{
	width: 65%;
}

.cart .cart_item .item_top .item_info .item_num{
	font-size: 1.75rem;
}

.cart .cart_item .item_bottom{
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: flex-end;
	align-items: baseline;
}

.cart .cart_item .item_bottom p{
	margin-right: 20px;
}

.cart .cart_item .item_bottom .item_totalprice{
	font-size: 1.5rem;
	line-height: 45px;
}

.cart .cart_item .item_bottom .item_totalnum{
	font-size: 1.25rem;
}
