<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title></title>

		<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
		<script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
		<script type="text/javascript" src="/bootstrap/dist/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/css/style.css" />
		<link rel="stylesheet" href="../../css/goodInfo/goodinfo.css"/>
		<style>

			
		</style>
	</head>

	<body>

		<div id="main-ctr" class="clearfix" role="group" aria-label="...">
			<button type="button" class="ctrbtn on">商品</button>
			<button type="button" class="ctrbtn">详情</button>
			<button type="button" class="ctrbtn">评价(100)</button>
		</div>
		<div class="good-ct">
			<h5 class="title text-center">招牌洁面-绿茶精萃保湿洁面膏</h5>
			<img class="good-img center-block" src="/img/innisfree-img/goods/1000000721_l.png" />
			<ul class="good-info list-unstyled">
				<li class="clearfix">
					<span class="left">产地</span>
					<span class="right">中国</span>
				</li>
				<li class="clearfix">
					<span class="left">价格</span>
					<span class="right">￥55.0</span>
				</li>
				<li class="clearfix">
					<span class="left">主要功效</span>
					<span class="right">洁面</span>
				</li>
			</ul>
			<div class="choice clearfix">
				<h5 class="left">选择分类数量</h5>
				<h5 class="right">>&nbsp;&nbsp;</h5>
			</div>
			<div class="total-price clearfix">
				<h5 class="left">总计</h5>
				<h5 class="right" style="font-size: 1.5rem;">￥55.0</h5>
			</div>
			<div class="choice-box">
                <div id="choice-bg"></div>
				<div class="choice-box-ct">
					<div class="clearfix">
						<div class="left">
							<img class="good-img img-thumbnail" src="/img/innisfree-img/goods/1000000721_l.png" />
						</div>
						<div class="right">
							<h4>￥55.0</h4>
                            <h5>库存35件</h5>
							<h5>选择分类</h5>
						</div>
						<div class="cross">
							<span class=""><i class="cross-ico"></i></span>
						</div>
					</div>
					<div class="good-type">
						<h5>规格选择</h5>
						<ul class="clearfix">
							<li class="on"><span>125ml</span></li>
							<li><span>125ml</span></li>
							<li><span>125ml</span></li>
							<li><span>125ml</span></li>
							<li><span>125ml</span></li>
						</ul>
					</div>
					<div class="count clearfix">
						<h5>购买数量</h5>
						<div class="count-box">
							<span class="count-ctr ctr-sub"><i class="sub"></i></span>
							<!--<span class="count-num">1</span>-->
                            <input type="text" class="count-num" value="1"  onkeyup="this.value=this.value.replace(/[^\d]/g,'') " onafterpaste="this.value=this.value.replace(/[^\d]/g,'') "/>
							<span class="count-ctr ctr-add"><i class="add"></i></span>
						</div>
					</div>
					<div class="good-btn">
						<a class="btn add-car" href="javascript:;">加入购物车</a>
						<a class="btn buy" href="javascript:;">立即购买</a>
					</div>
				</div>
			</div>
			<div class="ser-rec">
				<!--
					
				-->
			</div>
		</div>
		<div class="good-detail">
			<img width="100%" src="../../img/innisfree-img/goods/1000000721_mm.jpg" />
			<h6>商品基本信息</h6>
			<div>
				<table width="100%" class="table">
					<colgroup>
						<col width="26%" />
						<col width="74%" />
					</colgroup>
					<tr>
						<th><h6>商品名称</h6></th>
						<td><h6>招牌洁面-绿茶精萃保湿洁面膏</h6></td>
					</tr>
					<tr>
						<th><h6>容量</h6></th>
						<td><h6>150ml</h6></td>
					</tr>
					<tr>
						<th><h6>类型</h6></th>
						<td><h6></h6></td>
					</tr>
					<tr>
						<th><h6>适用肤质</h6></th>
						<td><h6>洁面与卸妆</h6></td>
					</tr>
					<tr>
						<th><h6>主要功效</h6></th>
						<td><h6>洁面</h6></td>
					</tr>
					<tr>
						<th><h6>使用部位</h6></th>
						<td><h6>面部</h6></td>
					</tr>
					<tr>
						<th><h6>包装规格</h6></th>
						<td><h6></h6></td>
					</tr>
					<tr>
						<th><h6>保质期</h6></th>
						<td><h6></h6></td>
					</tr>
					<tr>
						<th><h6>注意事项</h6></th>
						<td><h6></h6></td>
					</tr>
					<tr>
						<th><h6>主要成分</h6></th>
						<td><h6>甘油、水、硬脂酸、肉豆蔻酸、聚乙二醇-32、氢氧化钾、高岭土、月桂酸、丁二醇、甘油硬脂酸酯、茶叶提取物、胭脂仙人掌果提取物、温州蜜柑果皮提取物、山茶叶提取物、兰科植物提取物、海藻糖、乙基己基甘油、PEG-100 硬脂酸酯、椰油酰胺丙基甜菜碱、EDTA 二钠、氯化钠、苯氧乙醇、苯甲酸钠、香精</h6></td>
					</tr>
				</table>
			</div>
		</div>
		<div class="comment">
			<div class="comment-ct">
				<div class="item">
					<img  src="../../img/innisfreeIco/avatar.png"/>
					<div class="item-right clearfix">
						<h5>挺可以的，性价比也很好，值得购买，而且发货的速度也很快，反正我还是挺满意的。</h5>
						<div class="item-rb" >
							<strong class="itemname">小乔同学仔</strong>
							&nbsp;&nbsp;<span>(2017-04-28)</span>
						</div>
					</div>
				</div>
				<div class="item">
					<img  src="../../img/innisfreeIco/avatar.png"/>
					<div class="item-right clearfix">
						<h5>挺可以的，性价比也很好，值得购买，而且发货的速度也很快，反正我还是挺满意的。</h5>
						<div class="item-rb" >
							<strong class="itemname">小乔同学仔</strong>
							&nbsp;&nbsp;<span>(2017-04-28)</span>
						</div>
					</div>
				</div>
				<div class="item">
					<img  src="../../img/innisfreeIco/avatar.png"/>
					<div class="item-right clearfix">
						<h5>挺可以的，性价比也很好，值得购买，而且发货的速度也很快，反正我还是挺满意的。</h5>
						<div class="item-rb" >
							<strong class="itemname">小乔同学仔</strong>
							&nbsp;&nbsp;<span>(2017-04-28)</span>
						</div>
					</div>
				</div>
				<div class="item">
					<img  src="../../img/innisfreeIco/avatar.png"/>
					<div class="item-right clearfix">
						<h5>挺可以的，性价比也很好，值得购买，而且发货的速度也很快，反正我还是挺满意的。</h5>
						<div class="item-rb" >
							<strong class="itemname">小乔同学仔</strong>
							&nbsp;&nbsp;<span>(2017-04-28)</span>
						</div>
					</div>
				</div>
				<div class="item">
					<img  src="../../img/innisfreeIco/avatar.png"/>
					<div class="item-right clearfix">
						<h5>挺可以的，性价比也很好，值得购买，而且发货的速度也很快，反正我还是挺满意的。</h5>
						<div class="item-rb" >
							<strong class="itemname">小乔同学仔</strong>
							&nbsp;&nbsp;<span>(2017-04-28)</span>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</body>
    <script type="text/javascript" src="../../js/goodInfo/goodInfo.js"></script>
</html>
