<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		
		<title>shoppingcart</title>
		
		<link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.min.css"/>
		
		<link rel="stylesheet" type="text/css" href="../../css/order/shoppingcart.css"/>
		<link rel="stylesheet" href="../../css/goodlist.css" />
		
		<link rel="stylesheet" type="text/css" href="../../css/style.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/navigation.css"/>
		
	</head>
	<body>
		<div class="nav">
			<span class="nav_menu"></span>
			<a href="/views/homepage.html" class="nav_logo"></a>
			<a href="/views/user/user.html" class="nav_user"></a>
			<a href="/order" class="nav_cart">
				<p class="nav_cartnum">0</p>
			</a>
			
			<div class="nav_type">
				
			</div>
		</div>
		
		<div class="goodorder">
			<a>排序<img class="goodorder-img goodorder-img-tri" src="../img/innisfreeIco/右箭头.png"/></a>
			<div class="orderby">
				<a class="orderbyprice">按价格排序</a>
				<a class="orderbymount">按销量排序</a>
			</div>
			<img class="goodorder-img goodorder-img-ud" src="../img/innisfreeIco/排序 (1).png"/>
		</div>
		<div class="goodlistcontainer">
			<ul class="cart">
				<li class="cart_item">
						
							<img class="img" src="../../img/innisfree-img/goods/1000000311_l.png"/>
							<div class="item_info">
								<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium corporis at quas facere voluptas aliquam eos necessitatibus cupiditate officia aspernatur illum vel omnis totam in eaque odit quisquam tempore unde!</h2>
								<ul class="good_size">
									<li><h4>绿色</h4></li>
									<li><h4>150ml</h4></li>	
								</ul>
								<div class="info_bottom">
									<a class="money">100.00</a>		
									<a class="mount">80人付款</a>
								</div>
							</div>	
						
				</li>
				<li class="cart_item">
						
							<img class="img" src="../../img/innisfree-img/goods/1000000311_l.png"/>
							<div class="item_info">
								<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium corporis at quas facere voluptas aliquam eos necessitatibus cupiditate officia aspernatur illum vel omnis totam in eaque odit quisquam tempore unde!</h2>
								<ul class="good_size">
									<li><h4>绿色</h4></li>
									<li><h4>150ml</h4></li>	
								</ul>
								<div class="info_bottom">
									<a class="money">100.00</a>		
									<a class="mount">80人付款</a>
								</div>
							</div>	
						
				</li>
				<li class="cart_item">
						
							<img class="img" src="../../img/innisfree-img/goods/1000000311_l.png"/>
							<div class="item_info">
								<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium corporis at quas facere voluptas aliquam eos necessitatibus cupiditate officia aspernatur illum vel omnis totam in eaque odit quisquam tempore unde!</h2>
								<ul class="good_size">
									<li><h4>绿色</h4></li>
									<li><h4>150ml</h4></li>	
								</ul>
								<div class="info_bottom">
									<a class="money">100.00</a>		
									<a class="mount">80人付款</a>
								</div>
							</div>	
						
				</li>
				<li class="cart_item">
						
							<img class="img" src="../../img/innisfree-img/goods/1000000311_l.png"/>
							<div class="item_info">
								<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium corporis at quas facere voluptas aliquam eos necessitatibus cupiditate officia aspernatur illum vel omnis totam in eaque odit quisquam tempore unde!</h2>
								<ul class="good_size">
									<li><h4>绿色</h4></li>
									<li><h4>150ml</h4></li>	
								</ul>
								<div class="info_bottom">
									<a class="money">100.00</a>		
									<a class="mount">80人付款</a>
								</div>
							</div>	
						
				</li>
				<li class="cart_item">
						
							<img class="img" src="../../img/innisfree-img/goods/1000000311_l.png"/>
							<div class="item_info">
								<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium corporis at quas facere voluptas aliquam eos necessitatibus cupiditate officia aspernatur illum vel omnis totam in eaque odit quisquam tempore unde!</h2>
								<ul class="good_size">
									<li><h4>绿色</h4></li>
									<li><h4>150ml</h4></li>	
								</ul>
								<div class="info_bottom">
									<a class="money">100.00</a>		
									<a class="mount">80人付款</a>
								</div>
							</div>	
						
				</li>
			</ul>
		</div>
	</body>
</html>
