<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../css/homepage.css" />
		<script type="text/javascript" src="../js/homepage.js" ></script>
	</head>
	<body>
		
		<div class="header">
			<img class="headerimg headerimg-log" src="../img/innisfree矢量图标/目录.png"/>
			<img class="headerimg innisfreelogo" src="../img/innisfree-img/ico_renewal01.jpg"/>
			<img class="headerimg headerimg-car" src="../img/innisfree矢量图标/购物车.png"/>
			<img class="headerimg headerimg-user" src="../img/innisfree矢量图标/用户.png"/>
		</div>
	
		<div class="search">
			<img class="searchimg" src="../img/innisfree矢量图标/搜索.png"/>
			<input class="search-textbox" placeholder="搜索"/>
		</div>
	
		<div class="adturn">
			<div class="adcontainer">
				<img class="adpicture" id="img1" src="../img/innisfree-img/12156756304939454mainBanner.jpg" />
				<img class="adpicture" id="img2" src="../img/innisfree-img/12156830264941746mainBanner.jpg" />
				<img class="adpicture" id="img3" src="../img/innisfree-img/19909720042977374mainBanner.jpg" />
				<img class="adpicture" id="img4" src="../img/innisfree-img/19995348453240183mainBanner.jpg" />
				<img class="adpicture" id="img5" src="../img/innisfree-img/20182211900450311mainBanner.jpg" />
				<img class="adpicture" id="img6" src="../img/innisfree-img/20259766717450799mainBanner.jpg" />
			</div>
			<ul class="adturnul">
				<li class="adturnullist" id="l1"></li>
				<li class="adturnullist" id="l2"></li>
				<li class="adturnullist" id="l3"></li>
				<li class="adturnullist" id="l4"></li>
				<li class="adturnullist" id="l5"></li>
				<li class="adturnullist" id="l6"></li>
			</ul>
		</div>
		
		<div class="newsturn">
			<img class="newsturnl" src="../img/innisfree-img/btn_nowhotL.gif" />
			<img class="newsturnr" src="../img/innisfree-img/btn_nowhotR.gif" />
			<div class="newscontainer">
				<a href="">123456789123456789</a>
			</div>
		</div>
		<div class="innisinformation"></div>
		<div class="activities"></div>
		<div class="hotgoods"></div>
	</body>
</html>
