<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>管理收货地址</title>
		<link rel="stylesheet" href="../css/locationManagers.css" />
	</head>
	<body>
		
		<div class="title">
			<span class="back"></span>
			<span class="titlename">管理收货地址</span>
		    <div class="clear">	
		    </div>
		</div>
		<div class="addresscontain">
			
			<div class="addressitem">
			<p class="infoline"> 
				<span class="consignee">收货人:</span>
				<span class="consigneetel">电话:</span>
			</p>
			<p class="consigneeaddress">收货地址：</p>
		</div>
		<div class="addressitem">
			<p class="infoline"> 
				<span class="consignee">收货人:</span>
				<span class="consigneetel">电话:</span>
			</p>
			<p class="consigneeaddress">收货地址：</p>
		</div>
		<div class="addressitem">
			<p class="infoline"> 
				<span class="consignee">收货人:</span>
				<span class="consigneetel">电话:</span>
			</p>
			<p class="consigneeaddress">收货地址：</p>
		</div>
		<div class="addressitem">
			<p class="infoline"> 
				<span class="consignee">收货人:</span>
				<span class="consigneetel">电话:</span>
			</p>
			<p class="consigneeaddress">收货地址：</p>
		</div>
		<div class="addressitem">
			<p class="infoline"> 
				<span class="consignee">收货人:</span>
				<span class="consigneetel">电话:</span>
			</p>
			<p class="consigneeaddress">收货地址：</p>
		</div>
		<div class="addressitem">
			<p class="infoline"> 
				<span class="consignee">收货人:</span>
				<span class="consigneetel">电话:</span>
			</p>
			<p class="consigneeaddress">收货地址：</p>
		</div>
		
		<div class="addressitem">
			<p class="infoline"> 
				<span class="consignee">收货人:</span>
				<span class="consigneetel">电话:</span>
			</p>
			<p class="consigneeaddress">收货地址：</p>
		</div>
		
		<div class="addressitem">
			<p class="infoline"> 
				<span class="consignee">收货人:</span>
				<span class="consigneetel">电话:</span>
			</p>
			<p class="consigneeaddress">收货地址：</p>
		</div>
		</div>
		
		<div class="addbtn">
			<a href="../views/addLocation.html">新增收货地址</a>
			
		</div>
		
		<script type="text/javascript" src="/jquery/dist/jquery.js" ></script>
		<script type="text/javascript">
		$(function(){
			$("addressitem").each(function(){
				$(this).click(function(){
					
				});
			});
		});
</script>
	</body>
</html>