<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>管理收货地址</title>
		<link rel="stylesheet" href="../css/locationmanager.css" />
	</head>
	<body>
		<div  class="title">
			<img class="backbtn" src="../img/innisfree矢量图标/back.png"/>
			<div class="addresstitile">
				管理收货地址
			</div>
		</div>
		<div class="addressitem">
			<p class="infoline"> 
				<span class="consignee">收货人:</span>
				<span class="consigneetel">电话:</span>
			</p>
			<p class="consigneeaddress">收货地址：</p>
		</div>
		<div class="addressitem">
			<p class="infoline"> 
				<span class="consignee">收货人:</span>
				<span class="consigneetel">电话:</span>
			</p>
			<p class="consigneeaddress">收货地址：</p>
		</div>
		<div class="addressitem">
			<p class="infoline"> 
				<span class="consignee">收货人:</span>
				<span class="consigneetel">电话:</span>
			</p>
			<p class="consigneeaddress">收货地址：</p>
		</div>
		<div class="addressitem">
			<p class="infoline"> 
				<span class="consignee">收货人:</span>
				<span class="consigneetel">电话:</span>
			</p>
			<p class="consigneeaddress">收货地址：</p>
		</div>
		<div class="addressitem">
			<p class="infoline"> 
				<span class="consignee">收货人:</span>
				<span class="consigneetel">电话:</span>
			</p>
			<p class="consigneeaddress">收货地址：</p>
		</div>
		<div class="addressitem">
			<p class="infoline"> 
				<span class="consignee">收货人:</span>
				<span class="consigneetel">电话:</span>
			</p>
			<p class="consigneeaddress">收货地址：</p>
		</div>
		<div class="addressitem">
			<p class="infoline"> 
				<span class="consignee">收货人:</span>
				<span class="consigneetel">电话:</span>
			</p>
			<p class="consigneeaddress">收货地址：</p>
		</div>
		
		<div class="addbtn">
			新增收货地址
		</div>
		
	</body>
	
</html>