<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>shoppingcart</title>
		
		<!--<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css" />-->
		<link rel="stylesheet" type="text/css" href="../../bower_components/bootstrap/dist/css/bootstrap.min.css"/>
		
		<link rel="stylesheet" type="text/css" href="../css/order/shoppingcart.css"/>
		
		<link rel="stylesheet" type="text/css" href="../css/style.css"/>
		
	</head>
	<body>
		<div class="header">
			<h3>购物车</h3>
		</div>
		
		<div class="content">
			
		</div>
		
		<div class="footer container-fluid">
			
		</div>
		
	</body>
	
	<script src="../../bower_components/jquery/dist/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../bower_components/angular/angular.min.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		$(function(){
			
		})
	</script>
	
</html>
