<!DOCTYPE html>
<html style="height: 97%;">
	<head>
		<meta charset="UTF-8">
		<title></title>
	    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
	    <link rel="stylesheet" href="/jquery-easyui/themes/default/easyui.css" />
	    <link rel="stylesheet" href="/jquery-easyui/themes/icon.css" />
	    <script type="text/javascript" src="/jquery-easyui/jquery.min.js"></script>
	    <script type="text/javascript" src="/jquery-easyui/jquery.easyui.min.js" ></script>
	     <script>
	        //弹出窗口
	        function showWindow(options){
	            jQuery("#MyPopWindow").window(options);
	        }
	        //关闭弹出窗口
	        function closeWindow(){
	            $("#MyPopWindow").window('close');
	        }
	        $(function(){
	        	$(".panel-tool-close").click(function(){
	        		alert("asd")
	        		closeWindow();
	        	})
	        })
	    </script>
	</head>
	<body style="height: 100%;">	
		<div class="easyui-layout" style="width:100%;height:100%;">
			<div data-options="region:'north'" style="height: 10%;overflow: hidden;" >
                  <form class="navbar-form navbar-left" role="search" >
					  <div class="form-group" >
					    <input type="text" class="form-control" placeholder="商品名称">
					  </div>
					  <button type="button" class="btn btn-default" onclick="">搜索</button>
				</form>
			</div>
			 <div data-options="region:'south'" style="height:90%">
		        <table id="GoodTable" style="height: 100%;">
		
		        </table>
		    </div>
		</div>
	    <div id="MyPopWindow" modal="true" shadow="false" minimizable="false" cache="false" maximizable="false" collapsible="false" resizable="false" style="margin: 0px;padding: 0px; overflow-y: scroll;"></div>
      <script>
       $(document).ready(function () {
        $("#GoodTable").datagrid({
            title:"商品列表",
            method:'post',
            singleSelect:false,
            fitColumns:true,
            striped:true,
            url:"/good/queryGoodList",
            idFiled:'_id',
            sortName:'_id',
            sortOrder:'desc',
            queryParams:{},
            pagination:true,
            rownumbers:true,
            columns:[[
                {field:'ck',checkbox:true,width:10},
                {field:'gname',title:'商品名',width:100,
                    formatter:function(value,row,index){return row.gname;}
                },
                {field:'pricebase',title:'基础价格',width:60,
                    formatter:function(value,row,index){return row.pricebase;}
               },
                {field:'discount',title:'折扣',width:100,
                    formatter:function(value,row,index){return row.discount;}
               },
               {field:'typeid',title:'类型',width:100,
                    formatter:getTypeName
               },
               {field:'opera',title:'类型',width:100,
                    formatter:function(value,row,index){
                    	return "<a class='details' href='#'></a>";
                    }
                }
            ]],
            toolbar:[{
                text:"增加",
                iconCls:'icon-add',
                handler:function () {
                      addRow();
                }
            },'-',{
                text:"删除",
                iconCls:'icon-remove',
                handler:function () {
                        deleteUser();
                }
            },'-',{
                text:"跟新",
                iconCls:'icon-edit',
                handler:function () {
                      updateUser();
                }
            },'-'],
            onLoadSuccess:function () {
            	$(".details").linkbutton({text:'查看详情',plain:true,iconCls:'icon-more'});  
                $("#GoodTable").datagrid('clearSelections');
            }
        });
    });
    
       function getTypeName(value,row,index){
       	 console.log("typeid+"row.typeid);
       	var typename="";
       	 $.ajax({
       	 	type:"post",
       	 	url:"/good/queryGoodType",
       	 	data:{id:row.typeid},
       	 	async:false,
       	 	success:function(data){
       	 		console.log(data[0].tname)
       	 		typename=data[0].tname;
       	 	}     	 	
       	 });
       	 return typename;
       }
       
       function addRow(){
       	 showWindow({
       	 	title:"添加商品",
       	 	width:"800",
       	 	height:'500',
       	 	href:'/good/addInit',
       	 	onLoad:function(){
       	 		
       	 	}
       	 })
       }
        </script>
	</body>
</html>
