<!DOCTYPE html>
<html style="height: 97%;">
	<head>
		<meta charset="UTF-8">
		<title></title>
	    <link rel="stylesheet" href="/bootstrap-fileinput-master/css/fileinput.min.css"/>
	    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
	    <link rel="stylesheet" href="/jquery-easyui/themes/default/easyui.css" />
	    <link rel="stylesheet" href="/jquery-easyui/themes/icon.css" />
	    <script type="text/javascript" src="/jquery-easyui/jquery.min.js"></script>
	    <script type="text/javascript" src="/bootstrap/dist/js/bootstrap.min.js" ></script>
	    <script type="text/javascript" src="/jquery-easyui/jquery.easyui.min.js" ></script>
        <script type="text/javascript" src="/bootstrap-fileinput-master/js/fileinput.min.js" ></script>
	    <script type="text/javascript" src="/bootstrap-fileinput-master/js/fileinput_locale_zh.js" ></script>
	     <script>
	        //弹出窗口
	        function showWindow(options){
	            jQuery("#MyPopWindow").window(options);
	        }
	        //关闭弹出窗口
	        function closeWindow(){
	            $("#MyPopWindow").window('close');
	        }
	    </script>
	</head>
	<body style="height: 100%;">	
		<div class="easyui-layout" style="width:100%;height:100%;">
			<div data-options="region:'north'" style="height: 10%;overflow: hidden;" >
                  <form class="navbar-form navbar-left" role="search" >
					  <div class="form-group" >
					    <input type="text" class="form-control" placeholder="商品名称">
					  </div>
					  <button type="button" class="btn btn-default" onclick="">搜索</button>
				</form>
			</div>
			 <div data-options="region:'south'" style="height:90%">
		        <table id="GoodTable" style="height: 100%;">
		
		        </table>
		    </div>
		</div>
	    <div id="MyPopWindow" modal="true" shadow="false" minimizable="false" cache="false" maximizable="false" collapsible="false" resizable="false" style="margin: 0px;padding: 0px; overflow-y: scroll;"></div>
     
        	<div class="modal fade" tabindex="-1" role="dialog" id="myModal">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title">图片上传</h4>
				      </div>
				      <div class="modal-body ">
				      	
				      		 <input id="file-Portrait"  multiple="" type="file" name="photo" /> 
				      	     <input id="goodid"  type="hidden" name="goodid" />   
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				        <button type="button" class="btn btn-primary">Save changes</button>
				      </div>
				    </div><!-- /.modal-content -->
				  </div><!-- /.modal-dialog -->
				</div><!-- /.modal -->
     <script>
       $(document).ready(function () {
        $("#GoodTable").datagrid({
            title:"商品列表",
            method:'post',
            singleSelect:false,
            fitColumns:true,
            striped:true,
            url:"/good/queryGoodList",
            idFiled:'_id',
            sortName:'_id',
            sortOrder:'desc',
            checkOnSelect: false,
            selectOnCheck: true,
            queryParams:{},
            pagination:true,
            rownumbers:true,
            columns:[[
                {field:'ck',checkbox:true,width:10},
                {field:'gname',title:'商品名',width:100,
                    formatter:function(value,row,index){return row.gname;}
                },
                {field:'pricebase',title:'基础价格',width:60,
                    formatter:function(value,row,index){return row.pricebase;}
               },
                {field:'discount',title:'折扣',width:100,
                    formatter:function(value,row,index){return row.discount;}
               },
               {field:'typeid',title:'类型',width:100,
                    formatter:getTypeName
               },
               {field:'opera',title:'详情',width:40,
                    formatter:function(value,row,index){
                    	var a='<a class="details" href="javascript:void(0)"></a>'
                    	return a;
                    }
               },
               {field:'photo',title:'图片',width:40,
                    formatter:Uploads
                }
            ]],
            toolbar:[{
                text:"增加",
                iconCls:'icon-add',
                handler:function () {
                      addRow();
                }
            },'-',{
                text:"删除",
                iconCls:'icon-remove',
                handler:function () {
                        deleteGood();
                }
            },'-',{
                text:"跟新",
                iconCls:'icon-edit',
                handler:function () {
                      updateGood();
                }
            },'-'],
            onLoadSuccess:function () {
            	$(".details").linkbutton({text:'查看详情',plain:true,iconCls:'icon-more'});  
            	$(".photo").linkbutton({text:'上传',plain:true});  
                $("#GoodTable").datagrid('clearSelections');
            },
            onClickCell: function (rowIndex, field, value) {
			        IsCheckFlag = false;
			    },
			onSelect: function (rowIndex, rowData) {
			         if (!IsCheckFlag) {
			             IsCheckFlag = true;
			             $("#GoodTable").datagrid("unselectRow", rowIndex);
			         }
			     },                    
		    onUnselect: function (rowIndex, rowData) {
			         if (!IsCheckFlag) {
			             IsCheckFlag = true;
			            $("#GoodTable").datagrid("selectRow", rowIndex);
			         }
			     }            
            
        });
    });
    
       function getTypeName(value,row,index){
       	 console.log("typeid"+row.typeid);
       	var typename="";
       	 $.ajax({
       	 	type:"post",
       	 	url:"/good/queryGoodType",
       	 	data:{id:row.typeid},
       	 	async:false,
       	 	success:function(data){
       	 		console.log(data[0].tname)
       	 		typename=data[0].tname;
       	 	}     	 	
       	 });
       	 return typename;
       }
       
       function addRow(){
       	 showWindow({
       	 	title:"添加商品",
       	 	width:"800",
       	 	height:'500',
       	 	href:'/good/addInit',
       	 	onLoad:function(){
       	 		$("#goodForm").form('clear');
       	 	}
       	 })
       };
       
       function deleteGood(){
	       	$.messager.confirm("温馨提示","确定要删除吗",function(result){
	    		if(result){
	    			var rows=$("#GoodTable").datagrid('getSelections');
	    			var ps="";
	    			$.each(rows, function(i,n) {
	    				if(i==0){
	    					ps+="?id="+n._id;
	    				}
	    				else{
	    					ps+="&id="+n._id;
	    				}
	    			});
	    			$.post('/good/deleteGood'+ps,function(data){
	    				console.log(data);
	    				$("#GoodTable").datagrid('reload');
	    				$.messager.alert("提示","删除成功",'info');
	    			})
	    		}
	    	})
       }
       function updateGood(){
       	 var rows=$("#GoodTable").datagrid("getSelections");
       	 if(rows.length==0){
       	 	$.messager.alert('提示','请选择你要跟新的商品','info');
       	 	return;
       	 }
       	 if(rows.length>1){
       	 	$.messager.alert('提示','只能选择一件商品进行跟新','info');
       	 	return;
       	 }
       	 console.log(rows[0]._id);
       	 showWindow({
       	 	title:"商品跟新",
       	 	width:800,
       	 	height:500,
       	 	href:"/good/updateInit/"+rows[0]._id,
       	 	onLoad:function(){
       	 		
       	 	}
       	 })
       }
      function Uploads(value,row,index){
      	 var goodid=row._id;
         return "<button type='button' data-index='"+index+"' data-goodid='"+goodid+"' class='btn btn-primary btn-sm Uploads' >上传</button>"+
         "<script>$('.Uploads').click(Upload);"+"<\/script>"
         ;
      };
      function Upload(){
      	$("#myModal").modal(); 	 
      	var goodid=$(this).attr("data-goodid");
      	$("#goodid").val(goodid);
      }
     initFileInput("file-Portrait", "/admin/upload");
    function initFileInput(ctrlName, uploadUrl) {    
     var control = $('#' + ctrlName); 
     control.fileinput({
        language: 'zh', //设置语言
        uploadUrl: uploadUrl, //上传的地址
        allowedFileExtensions : ['jpg', 'png'],//接收的文件后缀
        showUpload: true, //是否显示上传按钮
        showCaption: false,//是否显示标题
         maxFileCount: 100,
         enctype: 'multipart/form-data',
        browseClass: "btn btn-primary", //按钮样式             
        previewFileIcon: "<i class='glyphicon glyphicon-king'></i>", 
        msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",
        uploadExtraData: function(previewId, index) {   //额外参数的关键点
                    var obj = {};
                    var gid=$("#goodid").val()
                    obj.goodid = gid;
                    return obj;
                }
         
    });
}
      $("#file-Portrait").on("fileuploaded", function (event, data, previewId, index) {
        $("#myModal").modal("hide");
         var data = data.response.msg;
         console.log("msg"+data+"index"+index);
         if(data=="success"){
            $.messager.alert("提示","上传成功",'info');
         }else{
         	 $.messager.alert("提示","上传失败",'info');
         }
    });
        </script>
	</body>
</html>
