<!DOCTYPE html>
<html style="height: 97%;">
	<head>
		<meta charset="UTF-8">
		<title></title>
	    <link rel="stylesheet" href="/bootstrap-fileinput-master/css/fileinput.min.css"/>
	    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
	    <link rel="stylesheet" href="/jquery-easyui/themes/default/easyui.css" />
	    <link rel="stylesheet" href="/jquery-easyui/themes/icon.css" />
	    <script type="text/javascript" src="/jquery-easyui/jquery.min.js"></script>
	    <script type="text/javascript" src="/bootstrap/dist/js/bootstrap.min.js" ></script>
	    <script type="text/javascript" src="/jquery-easyui/jquery.easyui.min.js" ></script>
        <script type="text/javascript" src="/bootstrap-fileinput-master/js/fileinput.min.js" ></script>
	    <script type="text/javascript" src="/bootstrap-fileinput-master/js/fileinput_locale_zh.js" ></script>
	     <script>
	        //弹出窗口
	        function showWindow(options){
	            jQuery("#MyPopWindow").window(options);
	        }
	        //关闭弹出窗口
	        function closeWindow(){
	            $("#MyPopWindow").window('close');
	        }
	       function checkStatus(){
	  	  		 	var status=$('#cc2').val();
	  	  		 	/*alert(status);*/
	  	  		 	 if(status<2){
	  	  		 	 	$.messager.alert("提示","该订单还未付款",'info');
	  	  		 	 	 return false;
	  	  		 	 }else if(status==2){
	  	  		 	 	 return true;
	  	  		 	 }else if(status>2){
	  	  		 	 	$.messager.alert("提示","该订单已发货",'info');
	  	  		 	 	return false;
	  	  		 	 }
  	  	  	 }
	    </script>
	</head>
	<body style="height: 100%;">	
		<div class="easyui-layout" style="width:100%;height:100%;">
			<div data-options="region:'north'" style="height: 10%;overflow: hidden;" >
                  <form class="navbar-form navbar-left" role="search" >
					  <div class="form-group" >
					    <input type="text" class="form-control" placeholder="商品名称">
					  </div>
					  <button type="button" class="btn btn-default" onclick="">搜索</button>
				</form>
			</div>
			 <div data-options="region:'south'" style="height:90%">
		        <table id="OrderTable" style="height: 100%;">
		
		        </table>
		    </div>
		</div>
	    <div id="MyPopWindow" modal="true" shadow="false" minimizable="false" cache="false" maximizable="false" collapsible="false" resizable="false" style="margin: 0px;padding: 0px; overflow-y: scroll;"></div>
     <script>
       $(document).ready(function () {
       	var IsCheckFlag = true;
        $("#OrderTable").datagrid({
            title:"订单列表",
            method:'post',
            singleSelect:false,
            fitColumns:true,
            striped:true,
            url:"/admin/queryOrderList",
            idFiled:'_id',
            sortName:'_id',
            sortOrder:'desc',
            checkOnSelect: false,
            selectOnCheck: true,
            queryParams:{},
            pagination:true,
            rownumbers:true,
            columns:[[
                {field:'ck',checkbox:true,width:10},
                {field:'oid',title:'订单号',width:60,
                    formatter:function(value,row,index){return row.oid._id;}
                },
                {field:'gname',title:'商品名',width:100,
                    formatter:function(value,row,index){return row.gid.gname;}
                },
                {field:'goodsize',title:'规格',width:40,
                    formatter:function(value,row,index){return row.gsids[0].gsid.gsname;}
               },
                {field:'uid',title:'用户',width:40,
                    formatter:getUname
                },
                {field:'price',title:'价格',width:40,
                    formatter:function(value,row,index){
                    	return row.num*(row.gid.pricebase+row.gsids[0].gsid.priceoffset);
                }
               },
               {field:'date',title:'交易时间',width:40,
                    formatter:function(value,row,index){
                    	var date = new Date(row.oid.date);
						console.log("date:" + date);
						var dateStr = date.getFullYear() + "年" + (date.getMonth() + 1) + "月" + date.getDate() + "日";
                    	return dateStr;
                }
               },
               {field:'flag',title:'订单状态',width:60,
                    formatter:getOrderItemState  
               }
            ]],
            toolbar:[{
                text:"跟改状态",
                iconCls:'icon-edit',
                handler:function () {
                      updateOrder();
                }
            },'-'],
            onLoadSuccess:function () {
            	$(".update").linkbutton({text:'跟换状态',plain:true});  
                $("#GoodTable").datagrid('clearSelections');
            },
            onClickCell: function (rowIndex, field, value) {
			        IsCheckFlag = false;
			    },
			onSelect: function (rowIndex, rowData) {
			         if (!IsCheckFlag) {
			             IsCheckFlag = true;
			             $("#OrderTable").datagrid("unselectRow", rowIndex);
			         }
			     },                    
		    onUnselect: function (rowIndex, rowData) {
			         if (!IsCheckFlag) {
			             IsCheckFlag = true;
			            $("#OrderTable").datagrid("selectRow", rowIndex);
			         }
			     }
		});
    });
   function updateOrder(){
   	  showWindow({
   	  	width:400,
   	  	height:180,
   	  	title:"跟新状态",
   	  	href:'/admin/updateOrderInit',
   	  	onload:function(){
   	  		
   	  	}
   	  })
   }
   function getOrderItemState(value,row,index){
   	 switch (row.oid.flag){
   	 	case 0:
   	 	    return "购物车";
   	 		break;
   	    case 1:
   	 	    return "未付款";
   	 		break;
   	 	case 2:
   	 	    return "已付款";
   	 		break;
   	 	case 3:
   	 	    return "已发货";
   	 		break;
   	 	case 4:
   	 	    return "已收货";
   	 		break;
   	 	case 4:
   	 	    return "已完成";
   	 		break;
   	 	default:
   	 		break;
   	 }
   }
   function getUname(value,row,index){
   	var typename="";
   	 $.ajax({
   	 	type:"get",
   	 	url:"/users/getunamebyid/"+row.oid.uid,
   	 	async:false,
   	 	success:function(data){
   	 		if(data.flag==200){
   	 			console.log(data.result.uname);
   	 			typename= data.result.uname;
   	 		}
   	 	}
   	 });
   	 return typename;
   }
        </script>
	</body>
</html>
