<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>历史记录</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css" />
		<link rel="stylesheet" href="../../css/user/mui.min.css" />
		<link rel="stylesheet" href="../../css/user/mui.picker.min.css" />
		<link rel="stylesheet" href="../../css/style.css" />
		<link rel="stylesheet" type="text/css" href="../../css/navigation.css" />
		<link rel="stylesheet" href="../../css/user/history.css" />
		<link rel="stylesheet" href="../../css/user/history_content.css" />
	</head>

	<body>
		<div class="nav">
			<span class="nav_menu"></span>
			<a href="/views/homepage.html" class="nav_logo"></a>
			<a href="/views/user/user.html" class="nav_user"></a>
			<a href="/views/order/cart.html" class="nav_cart">
				<p class="nav_cartnum">0</p>
			</a>
			
			<div class="nav_modal">
				<div class="nav_modal_content">
					<div class="nav_modal_title">
						<span class="nav_modal_logo"></span>
						<span class="nav_modal_close">
							<i></i>
						</span>
					</div>
					<ul class="nav_modal_tab">
						<li>产品类别</li>
						<li>浏览历史</li>
					</ul>
					<div class="nav_modal_page">
						<ul class="nav_modal_type">
						</ul>
					</div>
					<div id="history_content" class="nav_modal_page"></div>
				</div>
			</div>
		</div>
		<div class="header">
			<h1>历史记录</h1>
		</div>
		<!--<div id="history_date">
			<p id="date_year">2017年7月</p>
		</div>-->
		<div id="history_content">
			<!--<ul class="clear">
				<li class="date_year"><p>2017年7月</p></li>
				<li>
					<img src="../../img/innisfree-img/goods/1000000336_l.png" />
					<h2>洗面奶</h2>
					<span class="price">￥20.0</span>
				</li>
				<li>
					<img src="../../img/innisfree-img/goods/1000000336_l.png" />
					<h2>洗面奶</h2>
					<span class="price">￥20.0</span>
				</li>
				<li>
					<img src="../../img/innisfree-img/goods/1000000336_l.png" />
					<h2>洗面奶</h2>
					<span class="price">￥20.0</span>
				</li>
				<li>
					<img src="../../img/innisfree-img/goods/1000000336_l.png" />
					<h2>洗面奶</h2>
					<span class="price">￥20.0</span>
				</li>
			</ul>
			<ul class="clear">
				<li class="date_year"><p>2017年7月</p></li>
				<li>
					<img src="../../img/innisfree-img/goods/1000000336_l.png" />
					<h2>洗面奶</h2>
					<span class="price">￥20.0</span>
				</li>
				<li>
					<img src="../../img/innisfree-img/goods/1000000336_l.png" />
					<h2>洗面奶</h2>
					<span class="price">￥20.0</span>
				</li>
				<li>
					<img src="../../img/innisfree-img/goods/1000000336_l.png" />
					<h2>洗面奶</h2>
					<span class="price">￥20.0</span>
				</li>
				<li>
					<img src="../../img/innisfree-img/goods/1000000336_l.png" />
					<h2>洗面奶</h2>
					<span class="price">￥20.0</span>
				</li>
				<li>
					<img src="../../img/innisfree-img/goods/1000000336_l.png" />
					<h2>洗面奶</h2>
					<span class="price">￥20.0</span>
				</li>
			</ul>-->
		</div>
		<script src="/jquery/dist/jquery.js"></script>
		<script src="../../js/user/mui.min.js"></script>
		<script src="../../js/user/mui.picker.min.js"></script>
		<script src="../../js/user/history.js"></script>
		<script src="../../js/navigation.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>