<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>登录</title>
		<link rel="stylesheet" href="../../css/style.css" />
		<!--<link rel="stylesheet" src="/bootstrap/dist/css/bootstrap.css" />-->
		<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css" />
		<link rel="stylesheet" href="../../css/user/login.css" />
		<script src="/jquery/dist/jquery.js"></script>
		<script src="../../js/user/login.js"></script>
	</head>

	<body>
		<header>
		</header>
		<div class="content">
			<input type="phone" class="form-control input" id="phone" placeholder="用户名">
			<div id="div_show_pwd"><input type="password" class="form-control input" id="password" placeholder="密码">
				<i id="show_pwd"></i></div>
			<button type="button" class="btn login" id="login">登录</button>
			<div id="error"></div>
			<div class="word_div">
				<span id="forget" class="word"><a href="">忘记密码？</a></span>
				<span id="register" class="word"><a href="regiter.html">注册新用户</a></span>
			</div>
		</div>
	</body>

</html>