<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />

		<title>注册</title>
		<link rel="stylesheet" href="../../css/style.css" />
		<!--<link rel="stylesheet" src="/bootstrap/dist/css/bootstrap.css" />-->
		<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css" />
		<link rel="stylesheet" href="../../css/user/register.css" />
		<link rel="stylesheet" type="text/css" href="../../css/navigation.css" />
		<script src="/jquery/dist/jquery.js"></script>
		<script src="../../js/user/register.js"></script>
		<script src="../../js/navigation.js" type="text/javascript" charset="utf-8"></script>

	</head>

	<body>
		<div class="nav">
			<span class="nav_menu"></span>
			<a href="/views/homepage.html" class="nav_logo"></a>
			<a href="/views/user/user.html" class="nav_user"></a>
			<a href="/order/cart" class="nav_cart">
				<p class="nav_cartnum">0</p>
			</a>
			
			<div class="nav_modal">
				<div class="nav_modal_content">
					<div class="nav_modal_title">
						<span class="nav_modal_logo"></span>
						<span class="nav_modal_close">
							<i></i>
						</span>
					</div>
					<ul class="nav_modal_tab">
						<li>产品类别</li>
						<li>浏览历史</li>
					</ul>
					<div class="nav_modal_page">
						<ul class="nav_modal_type">
						</ul>
					</div>
					<div class="nav_modal_page">
						<ul class="nav_modal_history">
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="header">
			<h1>注册</h1>
		</div>
		<div class="content">
			<input type="phone" class="form-control input" id="phone" placeholder="手机">
			<div id="div_show_pwd">
				<input type="password" class="form-control input" id="password" placeholder="密码">
				<i id="show_pwd"></i>
			</div>
			<div id="div_code"><input type="text" class="form-control input" id="code" placeholder="验证码"><button id="get_code">获取</button></div>
			<div id="error"></div>
			<button type="button" class="btn register" id="register">注册</button>

		</div>

	</body>

</html>