<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>个人主页</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" href="../../css/style.css" />
		<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css" />
		<link rel="stylesheet" href="../../css/user/user.css" />
		<script src="/jquery/dist/jquery.js"></script>
		<script src="../../js/user/user.js"></script>
	</head>

	<body>
		<header></header>
		<div id="user_info">
			<div id="login">
				<div id="user_photo">
					<img src="../../img/innisfreeIco/avatar.png" />
				</div>
				<div id="user_info_content">
					<h2 id="username">18377709263</h2>
					<span id="message"><i></i>未读消息 0条</span>
					<span id="balance">余额：￥20.0</span>
					<p id="vip">只要再消费600元， 下个月即可升级为 VIP。</p>
				</div>

			</div>
			<div id="unlogin">
				<a href="login.html">请登录</a>
			</div>
		</div>
		<div id="user_"></div>
	</body>

</html>