<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>个人主页</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css" />
		<link rel="stylesheet" href="../../css/style.css" />
		<link rel="stylesheet" href="../../css/user/user.css" />
		<link rel="stylesheet" type="text/css" href="../../css/navigation.css" />
		<link rel="stylesheet" href="../../css/user/login.css" />
		<link rel="stylesheet" href="../../css/user/history_content.css" />

	</head>

	<body>
		<div class="nav">
			<span class="nav_menu"></span>
			<a href="/views/homepage.html" class="nav_logo"></a>
			<a href="/views/user/user.html" class="nav_user"></a>
			<a href="/order/cart" class="nav_cart">
				<p class="nav_cartnum">0</p>
			</a>

			<div class="nav_modal">
				<div class="nav_modal_content">
					<div class="nav_modal_title">
						<span class="nav_modal_logo"></span>
						<span class="nav_modal_close">
							<i></i>
						</span>
					</div>
					<ul class="nav_modal_tab">
						<li>产品类别</li>
						<li>浏览历史</li>
					</ul>
					<div class="nav_modal_page">
						<ul class="nav_modal_type">
						</ul>
					</div>
					<div id="history_content" class="nav_modal_page"></div>
				</div>
			</div>
		</div>
		<div class="header">
			<h1>个人主页</h1>
		</div>
		<div id="user_info">
			<div id="login">
				<a href="userinfo.html">
					<div id="user_photo">
						<img src="../../img/innisfreeIco/avatar.png" />
					</div>
					<div id="user_info_content">
						<h2 id="username">18377709263</h2>
						<span id="balance">余额：￥20.0</span>
					</div>
				</a>
			</div>
			<div id="unlogin">
				<i></i>
				<button onclick="showLogin()">请登录</button>
			</div>
		</div>
		<div id="user_function">
			<ul>
				<li id="order">
					<a href="#"><span>我的订单</span></a>
					<div>
						<ul class="clearfix">
							<li id="unpay">
								<a href="#">未付款</a>
								<span>99+</span>
							</li>
							<li id="paid">
								<a href="#">已付款</a>
								<span>0</span>
							</li>
							<li id="send">
								<a href="#">已发货</a>
								<span>0</span>
							</li>
							<li id="accept">
								<a href="#">已收货</a>
								<span>0</span>
							</li>
							<li id="finish">
								<a href="#">已完成</a>
								<span>0</span>
							</li>
						</ul>
					</div>
				</li>
				<li id="look">
					<a href="/views/user/history.html"><span>浏览记录</span></a>
				</li>
				<li id="collect">
					<a href="collect.html"><span>我的收藏</span></a>
				</li>
				<li id="location">
					<a href="/location"><span>收货地址</span></a>
				</li>
				<li id="changepwd">
					<a href="changepwd.html"><span>修改密码</span></a>
				</li>
				<li id="logout">
					<a href="#"><span>退出</span></a>
				</li>
			</ul>
		</div>
		<div id="div_login">
			<span id="login_close"></span>
			<div class="login_content">
				<input type="phone" class="form-control input" id="phone" placeholder="用户名">
				<div id="div_show_pwd"><input type="password" class="form-control input" id="password" placeholder="密码">
					<i id="show_pwd"></i></div>
				<div id="error"></div>
				<button type="button" class="btn login" id="btn_login">登录</button>
				<div class="word_div">
					<span id="forget" class="word"><a href="">忘记密码？</a></span>
					<span id="register" class="word"><a href="/views/user/regiter.html">注册新用户</a></span>
				</div>
			</div>
		</div>
		<script src="/jquery/dist/jquery.js"></script>
		<script src="../../js/user/user.js"></script>
		<script src="../../js/navigation.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/user/login.js"></script>
			<script src="../../js/user/history.js"></script>

	</body>

</html>