<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>我的订单</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css" />
		<link rel="stylesheet" href="/css/style.css" />
		<link rel="stylesheet" type="text/css" href="/css/navigation.css" />
		<link rel="stylesheet" href="/css/user/history_content.css" />
		<link rel="stylesheet" type="text/css" href="/css/order/cart.css"/>	
		<link rel="stylesheet" type="text/css" href="/css/goodInfo/goodlist.css"/>
		<link rel="stylesheet" type="text/css" href="/css/order/orderlist.css" />

	</head>

	<body>
		<div class="nav">
			<span class="nav_menu"></span>
			<a href="/views/homepage.html" class="nav_logo"></a>
			<a href="/views/user/user.html" class="nav_user"></a>
			<a href="/views/order/cart.html" class="nav_cart">
				<p class="nav_cartnum">0</p>
			</a>

			<div class="nav_modal">
				<div class="nav_modal_content">
					<div class="nav_modal_title">
						<span class="nav_modal_logo"></span>
						<span class="nav_modal_close">
							<i></i>
						</span>
					</div>
					<ul class="nav_modal_tab">
						<li>产品类别</li>
						<li>浏览历史</li>
					</ul>
					<div class="nav_modal_page">
						<ul class="nav_modal_type">
						</ul>
					</div>
					<div id="history_content" class="nav_modal_page"></div>
				</div>
			</div>
		</div>
		<div class="header">
			<h1>我的订单</h1>
		</div>
		<div class="banner">
			<ul class="order_type">
				<li><h3>未付款</h3></li>
				<li><h3>已付款</h3></li>
				<li><h3>已发货</h3></li>
				<li><h3>已收货</h3></li>
				<li><h3>已完成</h3></li>
			</ul>
		</div>
		<div class="content">
			<ul class="order">
			</ul>
		</div>
		
		<div class="attention">
			<i></i>
			<p class="cart_empty"></p>
		</div>
		
		<div class="comment">		
		    <div class="com_content">
		    	<div class="header">
		    		<h1>发表评论</h1>
		    	</div>
		    	<div class="com_txt">	    		
		    		<form method="post" action="/comment/addComment">
		    		 	 <textarea name="content" placeholder="宝贝满足你的期待吗？说说你的使用心得,分享给想买的他们吧"></textarea>	
			    		 <p><input type="submit" value="发布"/></p>
			    		 <p><input type="button" value="取消" class="com_cancel" /></p>
			    		 <input type="hidden" name="gid" value=""/>
		    		</form>
		    	</div>	    	
		    </div>
		</div>
		
	</body>
	<script src="/jquery/dist/jquery.js"></script>
	<script src="/js/navigation.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/user/history.js"></script>
	<script src="/js/order/orderlist.js"></script>

</html>