<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		
		<title>shoppingcart</title>
		
		<!--<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css" />-->
		<link rel="stylesheet" type="text/css" href="../../../bower_components/bootstrap/dist/css/bootstrap.min.css"/>
		
		<link rel="stylesheet" type="text/css" href="../../css/order/shoppingcart.css"/>
		
		<link rel="stylesheet" type="text/css" href="../../css/style.css"/>
		
	</head>
	<body>
		<div class="header">
			<h1>购物车</h1>
		</div>
		
		<div class="banner">
			<div class="cart_search">
				<img src="../../img/innisfreeIco/search.png"/>
				<input type="text" class="search_text" placeholder="搜索购物车"/>
			</div>
			<h2 onmousedown="cartsearch()">搜索</h2>
		</div>
		
		<div class="content">
			<ul class="cart">
				<li class="cart_item">
					<form action="">
						<div class="item_check">
							<input type="checkbox" />
						</div>
						<img src="../../img/innisfree-img/goods/1000000311_l.png"/>
						<div class="item_info">
							<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium corporis at quas facere voluptas aliquam eos necessitatibus cupiditate officia aspernatur illum vel omnis totam in eaque odit quisquam tempore unde!</h3>
							<ul class="good_size">
								<li><h4>绿色</h4></li>
								<li><h4>150ml</h4></li>	
							</ul>
							<div class="info_bottom">
								<p>￥1234.00</p>
								<span><i class="item_sub"></i></span>
								<input type="text" value="1"/>
								<span><i class="item_add"></i></span>
							</div>
						</div>	
					</form>
				</li>
				<li class="cart_item">
					<form action="">
						<div class="item_check">
							<input type="checkbox" />
						</div>
						<img src="../../img/innisfree-img/goods/1000000311_l.png"/>
						<div class="item_info">
							<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium corporis at quas facere voluptas aliquam eos necessitatibus cupiditate officia aspernatur illum vel omnis totam in eaque odit quisquam tempore unde!</h3>
							<ul class="good_size">
								<li><h4>绿色</h4></li>
								<li><h4>150ml</h4></li>	
							</ul>
							<div class="info_bottom">
								<p>￥1234.00</p>
								<span><i class="item_sub"></i></span>
								<input type="text" value="1"/>
								<span><i class="item_add"></i></span>
							</div>
						</div>	
					</form>
				</li>
				<li class="cart_item">
					<form action="">
						<div class="item_check">
							<input type="checkbox" />
						</div>
						<img src="../../img/innisfree-img/goods/1000000311_l.png"/>
						<div class="item_info">
							<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium corporis at quas facere voluptas aliquam eos necessitatibus cupiditate officia aspernatur illum vel omnis totam in eaque odit quisquam tempore unde!</h3>
							<ul class="good_size">
								<li><h4>绿色</h4></li>
								<li><h4>150ml</h4></li>	
							</ul>
							<div class="info_bottom">
								<p>￥1234.00</p>
								<span><i class="item_sub"></i></span>
								<input type="text" value="1"/>
								<span><i class="item_add"></i></span>
							</div>
						</div>	
					</form>
				</li>
				<li class="cart_item">
					<form action="">
						<div class="item_check">
							<input type="checkbox" />
						</div>
						<img src="../../img/innisfree-img/goods/1000000311_l.png"/>
						<div class="item_info">
							<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium corporis at quas facere voluptas aliquam eos necessitatibus cupiditate officia aspernatur illum vel omnis totam in eaque odit quisquam tempore unde!</h3>
							<ul class="good_size">
								<li><h4>绿色</h4></li>
								<li><h4>150ml</h4></li>	
							</ul>
							<div class="info_bottom">
								<p>￥1234.00</p>
								<span><i class="item_sub"></i></span>
								<input type="text" value="1"/>
								<span><i class="item_add"></i></span>
							</div>
						</div>	
					</form>
				</li>
				<li class="cart_item">
					<form action="">
						<div class="item_check">
							<input type="checkbox" />
						</div>
						<img src="../../img/innisfree-img/goods/1000000311_l.png"/>
						<div class="item_info">
							<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium corporis at quas facere voluptas aliquam eos necessitatibus cupiditate officia aspernatur illum vel omnis totam in eaque odit quisquam tempore unde!</h3>
							<ul class="good_size">
								<li><h4>绿色</h4></li>
								<li><h4>150ml</h4></li>	
							</ul>
							<div class="info_bottom">
								<p>￥1234.00</p>
								<span><i class="item_sub"></i></span>
								<input type="text" value="1"/>
								<span><i class="item_add"></i></span>
							</div>
						</div>	
					</form>
				</li>
				<li class="cart_item">
					<form action="">
						<div class="item_check">
							<input type="checkbox" />
						</div>
						<img src="../../img/innisfree-img/goods/1000000311_l.png"/>
						<div class="item_info">
							<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium corporis at quas facere voluptas aliquam eos necessitatibus cupiditate officia aspernatur illum vel omnis totam in eaque odit quisquam tempore unde!</h3>
							<ul class="good_size">
								<li><h4>绿色</h4></li>
								<li><h4>150ml</h4></li>	
							</ul>
							<div class="info_bottom">
								<p>￥1234.00</p>
								<span><i class="item_sub"></i></span>
								<input type="text" value="1"/>
								<span><i class="item_add"></i></span>
							</div>
						</div>	
					</form>
				</li>
				<li class="cart_item">
					<form action="">
						<div class="item_check">
							<input type="checkbox" />
						</div>
						<img src="../../img/innisfree-img/goods/1000000311_l.png"/>
						<div class="item_info">
							<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium corporis at quas facere voluptas aliquam eos necessitatibus cupiditate officia aspernatur illum vel omnis totam in eaque odit quisquam tempore unde!</h3>
							<ul class="good_size">
								<li><h4>绿色</h4></li>
								<li><h4>150ml</h4></li>	
							</ul>
							<div class="info_bottom">
								<p>￥1234.00</p>
								<span><i class="item_sub"></i></span>
								<input type="text" value="1"/>
								<span><i class="item_add"></i></span>
							</div>
						</div>	
					</form>
				</li>
				<li class="cart_item">
					<form action="">
						<div class="item_check">
							<input type="checkbox" />
						</div>
						<img src="../../img/innisfree-img/goods/1000000311_l.png"/>
						<div class="item_info">
							<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium corporis at quas facere voluptas aliquam eos necessitatibus cupiditate officia aspernatur illum vel omnis totam in eaque odit quisquam tempore unde!</h3>
							<ul class="good_size">
								<li><h4>绿色</h4></li>
								<li><h4>150ml</h4></li>	
							</ul>
							<div class="info_bottom">
								<p>￥1234.00</p>
								<span><i class="item_sub"></i></span>
								<input type="text" value="1"/>
								<span><i class="item_add"></i></span>
							</div>
						</div>	
					</form>
				</li>
			</ul>
		</div>
		
		<div class="footer">
			<div class="item_check">
				<input type="checkbox" />
			</div>
			<h3>全选</h3>
			
			<button type="button">去结算(0)</button>
			
			<h2>总价￥:1234.00</h2>
			
		</div>
		
	</body>
	
	<script src="../../../bower_components/jquery/dist/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../../bower_components/angular/angular.min.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		
		$(function(){
			
			$(".cart_search input").focus(function(){
				$(".cart_search").animate({"width":"80%"},function(){
					$(".banner h2").show();
				});
				
			});
			$(".cart_search input").blur(function(){
				$(".banner h2").hide();
				$(".cart_search").animate({"width":"96%"});
			});
		
			$(".item_check").click(function(){
				if ($(this).children("input")[0].checked) {
					$(this).css("background-image","url(../../img/innisfreeIco/checked.png)");
				} else{
					
					$(this).css("background-image","url(../../img/innisfreeIco/unchecked.png)");
				}
			})
		
		})
		
		function cartsearch () {
			alert("购物车搜索按钮");
		}
		
		function checkall(){
//			$(".cart_bar input").
		}
	</script>
	
</html>
