<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		
		<title>shoppingcart</title>
		
		<!--<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css" />-->
		<link rel="stylesheet" type="text/css" href="../../../bower_components/bootstrap/dist/css/bootstrap.min.css"/>
		
		<link rel="stylesheet" type="text/css" href="../../css/order/shoppingcart.css"/>
		
		<link rel="stylesheet" type="text/css" href="../../css/style.css"/>
		
	</head>
	<body>
		<div class="header">
			<h1>购物车</h1>
		</div>
		
		<div class="content">
			<div class="cart_bar">
				<div class="cart_search">
					<img src="../../img/innisfree矢量图标/搜索.png"/>
					<input type="text" class="search_text" placeholder="搜索购物车"/>
				</div>
				<button type="button" onmousedown="cartsearch()">搜索</button>
			</div>
			<ul class="cart">
				<li>
					<form action="">
						<input type="checkbox" />
						<img src="../../img/innisfree-img/商品/1000000311_l.png"/>
						<div class="item_info">
							<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium corporis at quas facere voluptas aliquam eos necessitatibus cupiditate officia aspernatur illum vel omnis totam in eaque odit quisquam tempore unde!</h2>
							<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam dolorem id mollitia fugiat commodi praesentium porro molestias numquam est ab iusto cum labore corporis atque sunt nisi deleniti voluptatum quas.</h3>
							<div class="info_bottom">
								<p>￥1234.00</p>
								<span>-</span>
								<input type="text" value="1"/>
								<span>+</span>
							</div>
						</div>	
					</form>
				</li>
				<li>
					<form action="">
						<input type="checkbox" />
						<img src="../../img/innisfree-img/商品/1000000311_l.png"/>
						<div class="item_info">
							<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium corporis at quas facere voluptas aliquam eos necessitatibus cupiditate officia aspernatur illum vel omnis totam in eaque odit quisquam tempore unde!</h2>
							<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam dolorem id mollitia fugiat commodi praesentium porro molestias numquam est ab iusto cum labore corporis atque sunt nisi deleniti voluptatum quas.</h3>
							<div class="info_bottom">
								<p>￥1234.00</p>
								<span>-</span>
								<input type="text" value="1"/>
								<span>+</span>
							</div>
						</div>	
					</form>
				</li>
				<li>
					<form action="">
						<input type="checkbox" />
						<img src="../../img/innisfree-img/商品/1000000311_l.png"/>
						<div class="item_info">
							<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium corporis at quas facere voluptas aliquam eos necessitatibus cupiditate officia aspernatur illum vel omnis totam in eaque odit quisquam tempore unde!</h2>
							<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam dolorem id mollitia fugiat commodi praesentium porro molestias numquam est ab iusto cum labore corporis atque sunt nisi deleniti voluptatum quas.</h3>
							<div class="info_bottom">
								<p>￥1234.00</p>
								<span>-</span>
								<input type="text" value="1"/>
								<span>+</span>
							</div>
						</div>	
					</form>
				</li>
				<li>
					<form action="">
						<input type="checkbox" />
						<img src="../../img/innisfree-img/商品/1000000311_l.png"/>
						<div class="item_info">
							<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium corporis at quas facere voluptas aliquam eos necessitatibus cupiditate officia aspernatur illum vel omnis totam in eaque odit quisquam tempore unde!</h2>
							<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam dolorem id mollitia fugiat commodi praesentium porro molestias numquam est ab iusto cum labore corporis atque sunt nisi deleniti voluptatum quas.</h3>
							<div class="info_bottom">
								<p>￥1234.00</p>
								<span>-</span>
								<input type="text" value="1"/>
								<span>+</span>
							</div>
						</div>	
					</form>
				</li>
				<li>
					<form action="">
						<input type="checkbox" />
						<img src="../../img/innisfree-img/商品/1000000311_l.png"/>
						<div class="item_info">
							<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium corporis at quas facere voluptas aliquam eos necessitatibus cupiditate officia aspernatur illum vel omnis totam in eaque odit quisquam tempore unde!</h2>
							<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam dolorem id mollitia fugiat commodi praesentium porro molestias numquam est ab iusto cum labore corporis atque sunt nisi deleniti voluptatum quas.</h3>
							<div class="info_bottom">
								<p>￥1234.00</p>
								<span>-</span>
								<input type="text" value="1"/>
								<span>+</span>
							</div>
						</div>	
					</form>
				</li>
				<li>
					<form action="">
						<input type="checkbox" />
						<img src="../../img/innisfree-img/商品/1000000311_l.png"/>
						<div class="item_info">
							<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium corporis at quas facere voluptas aliquam eos necessitatibus cupiditate officia aspernatur illum vel omnis totam in eaque odit quisquam tempore unde!</h2>
							<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam dolorem id mollitia fugiat commodi praesentium porro molestias numquam est ab iusto cum labore corporis atque sunt nisi deleniti voluptatum quas.</h3>
							<div class="info_bottom">
								<p>￥1234.00</p>
								<span>-</span>
								<input type="text" value="1"/>
								<span>+</span>
							</div>
						</div>	
					</form>
				</li>
				<li>
					<form action="">
						<input type="checkbox" />
						<img src="../../img/innisfree-img/商品/1000000311_l.png"/>
						<div class="item_info">
							<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium corporis at quas facere voluptas aliquam eos necessitatibus cupiditate officia aspernatur illum vel omnis totam in eaque odit quisquam tempore unde!</h2>
							<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam dolorem id mollitia fugiat commodi praesentium porro molestias numquam est ab iusto cum labore corporis atque sunt nisi deleniti voluptatum quas.</h3>
							<div class="info_bottom">
								<p>￥1234.00</p>
								<span>-</span>
								<input type="text" value="1"/>
								<span>+</span>
							</div>
						</div>	
					</form>
				</li>
				<li>
					<form action="">
						<input type="checkbox" />
						<img src="../../img/innisfree-img/商品/1000000311_l.png"/>
						<div class="item_info">
							<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium corporis at quas facere voluptas aliquam eos necessitatibus cupiditate officia aspernatur illum vel omnis totam in eaque odit quisquam tempore unde!</h2>
							<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam dolorem id mollitia fugiat commodi praesentium porro molestias numquam est ab iusto cum labore corporis atque sunt nisi deleniti voluptatum quas.</h3>
							<div class="info_bottom">
								<p>￥1234.00</p>
								<span>-</span>
								<input type="text" value="1"/>
								<span>+</span>
							</div>
						</div>	
					</form>
				</li>
			</ul>
		</div>
		
		<div class="footer">
			<!--<div class="footer_left ">
				
			</div>
			<input type="checkbox" onclick="checkall()"/>
			<p>全选</p>-->
			
		</div>
		
	</body>
	
	<script src="../../../bower_components/jquery/dist/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../../bower_components/angular/angular.min.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		
		$(function(){
			
			$(".cart_search input").focus(function(){
				$(".cart_search").animate({"width":"85%"},function(){
					$(".cart_bar button").show();
				});
				
			});
			$(".cart_search input").blur(function(){
				$(".cart_bar button").hide();
				$(".cart_search").animate({"width":"100%"});
			});
		
		})
		
		function cartsearch () {
			alert("购物车搜索按钮");
		}
		
		function checkall(){
//			$(".cart_bar input").
		}
	</script>
	
</html>
