body
{
	overflow-x: hidden;
}
/*------------------------------------------头部*/

/*--------------------------------------------搜索栏*/
.search 
{
	position: relative;
	margin: 60px auto;
	width: 100%;
	height: 40px;
	border: 2px solid #ACBD93;
	border-radius: 10px;
}

.searchimg
{
	position: absolute;
	width: 20px;
	height: 20px;
	margin-left: 5%;
	margin-top: 8px;
}
.search-textbox
{
	position: absolute;
	margin-left: 60px;
	margin-top: 2px;
	font-size: 15px;
	width: 80%;
	height: 30px;
	border: none;
}

.search-title
{
	position: relative;
	margin-top: 58px;
	margin-left: 8%;
}
.searchhistorycontainer
{
	display: none;
	z-index: 40;
	width: 90%;
	height: 130px;
	margin-top: 0px;
	margin-left: 8%;
}
.searchhistory
{
	position: relative;
	z-index: 40;
	background-color: white;
	opacity: 0.8;
	width: 90%;
	height: 100px;
	overflow-y: auto;
	margin-top: -30px;
	margin-left: 8%;
}

.searchhistory-ul
{
	list-style: none;
	margin-top: 10px;
	font-size: 16px;
}

.searchhistory-li
{
	width: 90%;
	height: 20px;
	line-height: 20px;
	
}
.searchhistory-li-closeimg
{
	float: right;
	height: 16px;
	
}

.searchhistory-bottom
{
	position: relative;
	z-index: 40;
	height: 30px;
	width: 90%;
	margin-left: 8%;
	opacity: 0.8;
	background-color: white;
	font-size: 16px;
	text-align: right;
}
.searchhistory-bottom>a
{
	color: black;
	margin-right: 4%;
}

/*------------------------------------------广告轮播图*/
.adturn
{
	position: relative;
	width: 100%;
	height: 250px;
	margin-top: 50px;
	overflow: hidden;
}

.adcontainer
{
	position: absolute;
	width: 3000px;
	
}
.adpicture
{
	display: inline-block;
	width: 412px;
	
}

.adturnul
{
	position: absolute;
	margin-top: 210px;
	margin-left:60px;
}

.adturnullist
{
	display: inline-block;
	width: 20px;
	height: 5px;
	background-color: #CED4D2;
	margin: 0px 5px;
}

#l1
{
	background-color: orange;
}
/*------------------------------------------新闻轮播图*/
.newsturn
{
	position: relative;
	width: 100%;
	height: 50px;
	margin: 10px auto;
	font-size: 20px;
	color: white;
	overflow: hidden;
}

.newscontainer
{
	position: absolute;
	width: 1000px;
	height: 40px;
	margin-top: 10px;
}

.newscontainer>a
{
	text-decoration: none;
	color: white;
}

/*-------------------------------------------选项卡*/
.lnbtitlediv
{
	position: relative;
	width: 100%;
	height: 45px;
}
.lnbtitle
{
	position: absolute;
	width: 34%;
	margin-top: 5px;
}

.lnbtitle-info
{
	margin-left: 0%;
}
.lnbtitle-act
{
	margin-left: 33%;
}
.lnbtitle-communicate
{
	margin-left: 66%;
}
/*-------------------------------------------品牌介绍*/
.innisinformation
{
	position: relative;
	width: 100%;
	height: 1400px;
}

.innisinfoimg
{
	position: absolute;
	width: 100%;
}

.yezi
{
	position: absolute;
	width: 8%;
	z-index: 999;
	margin-top: 640px;
	margin-left: 45%;
	display: none;
}

.largeimg
{
	position: absolute;
	z-index: 20;
	margin-top: 300px;
	width: 100%;
	height: 200px;
}

.largeimg1
{
	position: absolute;
	width: 35%;
	margin-top: 70px;
	display: none;
}
/*---------------------------------------------活动*/
.activities
{
	position: relative;
	width: 100%;
	height: 700px;
	display: none;
	font-size: 10px;
	background-color: white;
	margin-left: 2%;
}

.acttitle
{
	position: absolute;
	width: 150px;	
}
.acttitle-now
{
	margin-top: 10px;
}

.activities-now
{
	position: absolute;
	width: 100%;
	margin-top:20px;
}
.activities-now-img
{
	width: 200px;
	margin: 20px 5px;
}
.activities-now-text
{
	position: absolute;
	text-decoration: none;
	color: black;
	margin-left: 10px;
	margin-top: 30px;
	font-size: 20px;
}


.activities-now-text>img
{
	width: 50px;
}
.activities-now-time
{
	position: absolute;
	margin-top: 100px;
	margin-left: 10px;
}
.actitle-past
{
	margin-top: 450px;
}
.activities-past
{
	position: absolute;
	width: 100%;
	margin-top:480px;
}
.activities-past-img
{
	width: 200px;
	margin: 20px 5px;
}
.activities-past-text
{
	position: absolute;
	text-decoration: none;
	margin-top: 20px;
	margin-left: 10px;
	color: black;
	font-size: 20px;
	
}
.activities-past-text>img
{
	width: 50px;
}
/**--------------------------------------------------社区*/
.communicate
{
	position: relative;
	width: 100%;
	height: 1500px;
	display: none;
}

/*---------------------------------------------热销*/
.hotgoods
{
	position: relative;
	width: 100%;
	height: 1150px;
}

.hotgoods-topline
{
	position: relative;
	width: 100%;
	padding-bottom: 20px;
}

.hotgoods-nav
{
	position: relative;
	list-style: none;
	height: 40px;
}

.hotgoods-nav-li
{
	position: relative;
	display: inline-block;
	color: #CCD9BB;
	padding: 2px 6px;
	margin: 0px 5px;
}

.hotgoods-nav-li1
{
	color: #799656;	
	border-bottom: 2px solid #799656;
}

.hotgoodsimg
{
	position: relative;
	width: 150%;
}

.hotgoods-title
{
	position: relative;
	width: 40%;
	margin-left: 5%;
	margin-bottom: 10px;
}


.hotgoods-container-img
{
	position: relative;
	width: 20%;
	margin: 10px 5px;
}
.hotgoods-container-num
{
	position: absolute;
	width: 30px;
	margin-top: 0px;
	margin-left: -80px;
}

.hotgoods-inni
{
	margin-bottom: 20px;
}

.popdiv
{
	position: fixed;
	background-color: rgba(0,0,0,0.8);
	top: 0px;
	height: 100%;
	width: 100%;
	z-index: 9999;
	display: none;
}

.popdiv-ad
{
	position: absolute;
	margin-left: 10%;
	margin-top: 200px;
	width: 80%;
}

.popdiv-close
{
	position: absolute;
	margin-top: 200px;
	margin-left:75%;
}
/*--------------------------------------------公益邮箱*/
.quickdivcontainer
{
	position: relative;
	margin-top: 0px;
	background-color: white;
	
}
.quickdiv
{
	position: relative;
	height: 150px;
}
.hotgoods-quick
{
	width: 120px;
	margin: 10px 20px;
}

.hotgoods-quick2
{
	width: 100px;
}

.hotgoods-quick1,.hotgoods-quick3,.hotgoods-righttitle1,.hotgoods-righttitle3
{
	float: left;
}
.hotgoods-quick2,.hotgoods-quick4,.hotgoods-righttitle2,.hotgoods-righttitle4
{
	float: right;
}
.hotgoods-quick1,.hotgoods-quick3
{
	margin-left: 10%;
}

.hotgoods-quick2,.hotgoods-quick4
{
	margin-right: 10%;
}
.hotgoods-righttitle1,.hotgoods-righttitle3
{
	margin-top: 20px;
	margin-left: 10%;
}

.hotgoods-righttitle2,.hotgoods-righttitle4
{
	margin-top: 20px;
	margin-right: 10%;
}
/*----------------------------------------------页脚*/
.footer
{
	position: relative;
	width: 100%;
	height: 100px;
	margin-left: 2%;
}

.footer-logo
{
	width: 100%;
}

