body {
	overflow-x: hidden;
}


/*------------------------------------------头部*/


/*--------------------------------------------搜索栏*/

.search {
	position: relative;
	margin: 60px 0 0 0;
	width: 100%;
	height: 40px;
	border: 2px solid #ACBD93;
	border-radius: 10px;
	box-sizing: border-box;
}

.searchimg {
	position: absolute;
	width: 20px;
	height: 20px;
	right: 8px;
	top: 8px;
}

.search-textbox {
	position: absolute;
	margin-left: 30px;
	font-size: 15px;
	width: 80%;
	height: 36px;
	border: none;
	padding-left: 10px;
	outline: none;
}

.search-title {
	position: relative;
	margin-top: 58px;
	margin-left: 8%;
}

.searchhistorycontainer {
	display: none;
	z-index: 40;
	width: 100%;
	position: absolute;
	top: 50px;
	left: 0;
	/*height: 130px;*/
}

.searchhistory {
	position: relative;
	z-index: 40;
	background-color: white;
	width: 100%;
	/*height: 100px;*/
	overflow-y: auto;
}

.searchhistory-ul {
	list-style: none;
	margin-top: 10px;
	font-size: 16px;
	padding: 0;
}

.searchhistory-li {
	width: 100%;
	padding: 5px 20px;
	font-size: 1.5rem;
}

.searchhistory-li:active {
	background-color: #ACBD93;
}

.searchhistory-li-closeimg {
	float: right;
	height: 16px;
}

.searchhistory-bottom {
	position: relative;
	z-index: 40;
	width: 100%;
	background-color: white;
	padding: 10px 0 10px 0;
	font-size: 16px;
	text-align: right;
	border-top: 1px solid #dcdcdc;
}

.searchhistory-bottom>a {
	color: #333;
	font-size: 1rem;
	margin-right: 4%;
}


/*------------------------------------------广告轮播图*/

.adturn {
	position: relative;
	width: 100%;
	height: 220px;
	margin-top: 50px;
	overflow: hidden;
}

.adcontainer {
	position: absolute;
	width: 3000px;
}

.adpicture {
	display: block;
	float: left;
	width: 412px;
	margin: 0px;
	padding: 0px;
}

.adturnul {
	position: absolute;
	bottom: 10px;
	left: 60px;
	padding: 0;
}

.adturnullist {
	display: inline-block;
	width: 20px;
	height: 5px;
	background-color: #CED4D2;
	margin: 0px 5px;
}

#l1 {
	background-color: orange;
}


/*------------------------------------------新闻轮播图*/

.newsturn {
	position: relative;
	width: 100%;
	height: 50px;
	margin: 10px auto;
	font-size: 20px;
	color: white;
	overflow: hidden;
}

.newscontainer {
	position: absolute;
	width: 1000px;
	height: 40px;
	margin-top: 10px;
}

.newscontainer>a {
	text-decoration: none;
	color: white;
}


/*-------------------------------------------选项卡*/

.lnbtitlediv {
	position: relative;
	width: 100%;
	height: 45px;
}

.lnbtitle {
	position: absolute;
	width: 34%;
	margin-top: 5px;
}

.lnbtitle-info {
	margin-left: 0%;
}

.lnbtitle-act {
	margin-left: 33%;
}

.lnbtitle-communicate {
	margin-left: 66%;
}


/*-------------------------------------------品牌介绍*/

.innisinformation {
	position: relative;
	width: 100%;
	height: 1400px;
}

.innisinfoimg {
	position: absolute;
	width: 100%;
}

.yezi {
	position: absolute;
	width: 8%;
	z-index: 999;
	margin-top: 640px;
	margin-left: 45%;
	display: none;
}

.largeimg {
	position: absolute;
	z-index: 20;
	margin-top: 300px;
	width: 100%;
	height: 200px;
}

.largeimg1 {
	position: absolute;
	width: 35%;
	margin-top: 70px;
	display: none;
}


/*---------------------------------------------活动*/

.activities {
	position: relative;
	width: 100%;
	height: 700px;
	display: none;
	font-size: 10px;
	background-color: white;
	margin-left: 2%;
}

.acttitle {
	position: absolute;
	width: 150px;
}

.acttitle-now {
	margin-top: 10px;
}

.activities-now {
	position: absolute;
	width: 100%;
	margin-top: 20px;
}

.activities-now-img {
	width: 200px;
	margin: 20px 5px;
}

.activities-now-text {
	position: absolute;
	text-decoration: none;
	color: black;
	margin-left: 10px;
	margin-top: 30px;
	font-size: 20px;
}

.activities-now-text>img {
	width: 50px;
}

.activities-now-time {
	position: absolute;
	margin-top: 100px;
	margin-left: 10px;
}

.actitle-past {
	margin-top: 450px;
}

.activities-past {
	position: absolute;
	width: 100%;
	margin-top: 480px;
}

.activities-past-img {
	width: 200px;
	margin: 20px 5px;
}

.activities-past-text {
	position: absolute;
	text-decoration: none;
	margin-top: 20px;
	margin-left: 10px;
	color: black;
	font-size: 20px;
}

.activities-past-text>img {
	width: 50px;
}


/**--------------------------------------------------社区*/

.communicate {
	position: relative;
	width: 100%;
	height: 1500px;
	display: none;
}


/*---------------------------------------------热销*/

.hotgoods {
	position: relative;
	width: 100%;
	height: 1150px;
}

.hotgoods-topline {
	position: relative;
	width: 100%;
	/*padding-bottom: 20px;*/
}

.hotgoods-nav {
	position: relative;
	list-style: none;
	height: 40px;
}

.hotgoods-nav-li {
	position: relative;
	display: inline-block;
	color: #CCD9BB;
	padding: 2px 6px;
	margin: 0px 5px;
	font-size: 1.5rem;
}

.hotgoods-nav-li1 {
	color: #799656;
	border-bottom: 2px solid #799656;
}

.hotgoodsimg {
	position: relative;
	width: 150%;
}

.hotgoods-title {
	position: relative;
	width: 40%;
	margin-left: 5%;
	margin-bottom: 10px;
}


/*
.hotgoods-container-img {
	position: relative;
	width: 20%;
	margin: 10px 5px;
}

.hotgoods-container-num {
	position: absolute;
	width: 30px;
	margin-top: 0px;
	margin-left: -80px;
}*/

.hotgoods h2{
	font-size: 2rem;
	margin: 0 0 20px 20px;
	color: #222;
}
.hotgoods-container {}

.hotgoods-container>.hotgood {
	width: 50%;
	float: left;
	padding-bottom: 15px;
}

.hotgoods-container>.hotgood>div {
	position: relative;
}

.hotgoods-container>.hotgood>div>img {
	width: 80%;
	margin-left: 10%;
}

.hotgoods-container>.hotgood>div>.good_name {
	width: 80%;
	margin-left: 10%;
	margin-top: 10px;
	display: block;
	font-size: 1.5rem;
	text-align: center;
}

.hotgoods-container>.hotgood>div>.good_price {
	width: 80%;
	margin-left: 10%;
	margin-top: 10px;
	display: block;
	font-size: 1.5rem;
	color: red;
	text-align: center;
}

.hotgoods-container>.hotgood>.buyer {
	display: block;
	position: relative;
	left: 50%;
	width: 26px;
	height: 26px;
	margin-left: -13px;
	margin-top: 5px;
	padding: 0;
	border-radius: 13px;
	background: #055321 url(/img/innisfreeIco//btn_cart_w.png) no-repeat 50% 50%;
	background-size: 15px;
}

.hotgoods-inni {
	margin-bottom: 20px;
}

.popdiv {
	position: fixed;
	background-color: rgba(0, 0, 0, 0.8);
	top: 0px;
	height: 100%;
	width: 100%;
	z-index: 9999;
	display: none;
}

.popdiv-ad {
	position: absolute;
	margin-left: 10%;
	margin-top: 200px;
	width: 80%;
}

.popdiv-close {
	position: absolute;
	margin-top: 200px;
	margin-left: 75%;
}


/*--------------------------------------------公益邮箱*/

.quickdivcontainer {
	position: relative;
	margin-top: 0px;
	background-color: white;
}

.quickdiv {
	position: relative;
	height: 150px;
}

.hotgoods-quick {
	width: 120px;
	margin: 10px 20px;
}

.hotgoods-quick2 {
	width: 100px;
}

.hotgoods-quick1,
.hotgoods-quick3,
.hotgoods-righttitle1,
.hotgoods-righttitle3 {
	float: left;
}

.hotgoods-quick2,
.hotgoods-quick4,
.hotgoods-righttitle2,
.hotgoods-righttitle4 {
	float: right;
}

.hotgoods-quick1,
.hotgoods-quick3 {
	margin-left: 10%;
}

.hotgoods-quick2,
.hotgoods-quick4 {
	margin-right: 10%;
}

.hotgoods-righttitle1,
.hotgoods-righttitle3 {
	margin-top: 20px;
	margin-left: 10%;
}

.hotgoods-righttitle2,
.hotgoods-righttitle4 {
	margin-top: 20px;
	margin-right: 10%;
}


/*----------------------------------------------页脚*/

.footer {
	position: relative;
	width: 100%;
	height: 100px;
	margin-left: 2%;
}

.footer-logo {
	width: 100%;
}