/*------------------------------------------头部*/
.header 
{
	position: relative;
	width: 100%;
	height: 120px;
	line-height: 120px;
	background-color: white;
}

.headerimg
{
	position: absolute;
	height: 70px;
	margin: 10px 10px;
}

.headerimg-log 
{
	margin-top: 30px;
	margin-left: 20px;
}

.innisfreelogo 
{
	height: 110px;
	width: 300px;
	margin-left: 350px;
}

.headerimg-car 
{
	margin-top: 30px;
	margin-left: 760px;
}

.headerimg-user 
{
	margin-top: 30px;
	margin-left: 880px;
}

/*--------------------------------------------搜索栏*/
.search 
{
	position: relative;
	margin: 30px auto;
	width: 98%;
	height: 80px;
	border: 8px solid #ACBD93;
	border-radius: 20px;
	background-color: whitesmoke;
}

.searchimg
{
	position: absolute;
	margin: 10px 0px;
	width: 70px;
	height: 70px;
	margin-left: 20px;
}
.search-textbox
{
	position: absolute;
	margin-left: 120px;
	margin-top: 10px;
	font-size: 40px;
	width: 85%;
	height: 60px;
	border: none;
}

/*------------------------------------------广告轮播图*/
.adturn
{
	position: relative;
	width: 100%;
	height: 600px;
	margin: 10px auto;
	overflow: hidden;
}

.adcontainer
{
	position: absolute;
	width: 4600px;
	
}
.adpicture
{
	display: inline-block;
	height: 580px;
}

.adturnul
{
	position: absolute;
	margin-top: 550px;
	margin-left:200px;
}

.adturnullist
{
	display: inline-block;
	width: 50px;
	height: 10px;
	background-color: #CED4D2;
	margin: 0px 10px;
}
/*------------------------------------------新闻轮播图*/
.newsturn
{
	position: relative;
	width: 100%;
	height: 80px;
	margin: 10px auto;
	font-size: 50px;
	color: white;
	background-image: url(/forgiveMarket/public/img/innisfree-img/BG_gnb.gif);
}

.newsturnl
{
	position: absolute;
	width: 60px;
	margin-top: 5px;
	margin-left: 60px;
}

.newsturnr
{
	position: absolute;
	width: 60px;
	margin-top: 5px;
	margin-left: 130px;
}

.newscontainer
{
	position: absolute;
	width: 80%;
	height: 70px;
	margin-top: 5px;
	margin-left: 100px;
	text-align: center;
}
/*-------------------------------------------品牌介绍*/
.innisinformation
{
	position: relative;
	width: 100%;
	height: 300px;
	background-color: lightcoral;
	margin: 10px auto;
}

.activities
{
	position: relative;
	width: 100%;
	height: 300px;
	background-color: blue;
	margin: 10px auto;
}

.hotgoods
{
	position: relative;
	width: 100%;
	height: 300px;
	background-color: mediumaquamarine;
	margin: 10px auto;
}
