*{
	margin: 0px;
	padding: 0px;
}

.title{
	width: 100%;
	height:40px;
	position: fixed;
	z-index:10;
	top:0;
	color: #000;
	font-size:14px;
	background-color:#fff ;
	line-height: 40px;
	border-bottom: solid 1px grey;
	background: url("../img/shback.png") 5px 7px no-repeat #fff;
}
.title .back{
	width:20%;
	height:100%;
	float: left;
	margin-left: 5%;
	display: inline-block;
	color: #000000;
}
.title .titlename{
	width: 50%;
	display: inline-block;
	float: left;
	text-align:center;
}
.clear{
	clear: both;
}
.addresscontain{
  width: 100%;
  position:absolute;
  top:32px;
  height:95%;
  display: block;
}
.addressitem{
	width: 100%;
	height: 100px;
	border-bottom: solid 1px darkgray ;
	padding-left: 20px;
	box-sizing: border-box;
}
.activeitem{
	background-color: #5e6b85;
    color: #fff;
}

.infoline{
	margin-top: 10px;
	width: 100%;
	height:40px;
	/*padding-left: 20px;*/
	
}
.consignee{
	width: 40%;
	height: 100%;
	font-size: 14px;
	float: left;
}
.consigneetel{
	width: 40%;
	height: 100%;
	font-size: 14px;
	float:left;
}
.consigneeaddress{
	font-size:14px ;
}
.addressitem .check-icon{
    width: 7%;
    height: 64%;
    float: right;
    margin-right: 20px;
    margin-top: 35px;
}

.addbtn{
	width: 100%;
	height: 40px;
	background-color:darkgreen ;
	color: white;
	font-size: 14px;
	text-align:center;
    line-height: 40px; 
	position: fixed;
	bottom: 0;
	padding-left: 5px;	
}
.addbtn>a{
	width: 100%;
	color:white;
	text-decoration: none;
}
