*{
	padding: 0px;
	margin: 0px;
}
body{
	margin-bottom: 40px;
	padding-bottom: 40px;
}
.header {
	width: 100%;
	height: 40px;
	text-align: center;
	background: rgba(5, 83, 33, 1);
	color: yellowgreen;
	margin-top: 50px;
}

.header h1 {
	line-height: 40px;
	font-size: 2rem;
	margin: 0;
}
.addresscontain{

}
.addressitem{
	width: 98%;
	height: 100px;
	border-radius: 5px;
	border: 2px  #dcdcdc dashed;
	display: block;
	float: left;
	margin: 1%;
	padding:10px 20px;
	box-sizing: border-box;
}
.activeitem{
	/*background-color: #5e6b85;
    color: #fff;*/
   
   border: rgba(5, 83, 33, 1) solid 2px;
}

.infoline{
	/*margin-top: 10px;*/
	width: 100%;
	height:30px;
	/*padding-left: 20px;*/
	
}
.consignee{
	width: 50%;
	height: 100%;
	font-size: 14px;
	float: left;
}
.consigneetel{
	width: 45%;
	height: 100%;
	font-size: 14px;
	float:left;
}
.consigneeaddress{
	font-size:14px ;
}
.addbtn{
	width: 100%;
	height: 40px;
	background-color:rgba(5, 83, 33, 1) ;
	color: white;
	font-size: 14px;
	text-align:center;
    line-height: 40px; 
	position: fixed;
	bottom: 0;
	padding-left: 5px;	
}
.addbtn>a{
	width: 100%;
	color:white;
	text-decoration: none;
	display: block;
}
