.nav{
	width: 100%;
	height: 50px;
	/*padding: 10px;*/
	background: white;
	position: fixed;
	top: 0;
	z-index: 5;
}

.nav .nav_logo{
	width: 120px;
	height: 30px;
	background: url(../img/innisfreeIco/logo.png) 0 0 no-repeat;
	display: block;
	background-size: 120px 60px;		
	margin: 10px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.nav .nav_menu{
	width: 30px;
	height: 30px;
	background: url(../img/innisfreeIco/menu.png) 50% 50% no-repeat;
	background-size: 25px 25px;
	display: block;
	float: left;
	margin: 10px ;
}

.nav .nav_user{
	width: 30px;
	height: 30px;
	background: url(../img/innisfreeIco/user.png) 50% 50% no-repeat;
	background-size: 25px 25px;
	float: right;	
	margin: 10px;
}

.nav .nav_cart{
	width: 30px;
	height: 30px;
	background: url(../img/innisfreeIco/cart.png) 50% 50% no-repeat;
	background-size: 25px 25px;
	float: right;
	margin: 10px;
	position: relative;
}

.nav .nav_cart .nav_cartnum{
	width: 20px;
	height: 12px;
	border-radius: 6px;
	background:  rgba(5, 83, 33, 1);
	font-size: 1rem;
	color: white;
	text-align: center;
	line-height: 12px;
	position: absolute;
	right: -6px;
	top: 1px;
}

.nav .nav_modal{
	width: 100%;
	height: 2000px;
	position: fixed;
	background: rgba(0, 0, 0, 0.6);
	display: none;
	z-index: 10;
}

.nav .nav_modal .modal_content{
	width: 70%;
	height: 100%;
	background: rgba(5, 83, 33, 1);
	position: absolute;
	top: 0;
	right: 100%;
	box-shadow: 0 0 20px 10px rgba(0,0,0,0.4)
}

.nav .nav_modal .modal_content h1{
	width: 60%;
	height: 60px;
	padding-left: 10px;
	line-height: 60px;
	text-align: left;
	background: white;
}

.nav .nav_modal .modal_content ul{
	width: 100%;
	height: 500px;
	list-style: none;
	padding: 0;
	margin: 0;
	background: white;
}

.nav .nav_modal .modal_content ul li{
	width: 50%;
	height: 40px;
	float: left;
	border-bottom:1px yellowgreen solid;
	border-right:1px yellowgreen solid;	
	font-size: 1rem;
}

