<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title></title>
		<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css" />
		<link rel="stylesheet" href="/css/style.css" />
		<link rel="stylesheet" type="text/css" href="/css/navigation.css" />
		<link rel="stylesheet" type="text/css" href="/css/user/history_content.css" />
		<link rel="stylesheet" type="text/css" href="/css/comment/comment.css" />
	</head>
	<body>
		<div class="nav">
				<span class="nav_menu"></span>
				<a href="/views/homepage.html" class="nav_logo"></a>
				<a href="/views/user/user.html" class="nav_user"></a>
				<a href="/views/order/cart.html" class="nav_cart">
					<p class="nav_cartnum">0</p>
				</a>
				<div class="nav_modal">
					<div class="nav_modal_content">
						<div class="nav_modal_title">
							<span class="nav_modal_logo"></span>
							<span class="nav_modal_close">
								<i></i>
							</span>
						</div>
						<ul class="nav_modal_tab">
							<li>产品类别</li>
							<li>浏览历史</li>
						</ul>
						<div class="nav_modal_page">
							<ul class="nav_modal_type">
							</ul>
						</div>
						<div id="history_content" class="nav_modal_page"></div>
					</div>
				</div>
		    </div>
		<div class="CommentModal">		
		    <div class="com_content">
		    	<div class="com_header">
		    		<h1>发表评论</h1>
		    	</div>
		    	<div class="com_txt">	    		
		    		<form method="post" action="/comment/addComment">
		    		 	 <textarea name="content" placeholder="宝贝满足你的期待吗？说说你的使用心得,分享给想买的他们吧"></textarea>	
			    		 <p><input type="submit" value="发布"/></p>
			    		 <p><input type="button" value="取消" class="quxiao" /></p>
		    		</form>
		    	</div>	    	
		    </div>
		</div>
		
		<a href="#" class="test" style="width: 100px;margin-top:100px;height: 50px;display: block;font-size: 2rem;background: red;z-index: 1000000000;">测试</a>
		<script type="text/javascript" src="/jquery/dist/jquery.js"></script>
		<script type="text/javascript" src="/bootstrap/dist/js/bootstrap.js"></script>
		<script src="/js/navigation.js" type="text/javascript" charset="utf-8"></script>
		<script src="/js/user/history.js" type="text/javascript" charset="utf-8"></script>
		<script src="/js/comment/comment.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
