<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>管理收货地址</title>
		<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css" />
		<link rel="stylesheet" href="/css/style.css" />
		<link rel="stylesheet" href="/css/locationManagers.css" />
		<link rel="stylesheet" href="../css/locationManagers.css" />
		<link rel="stylesheet" type="text/css" href="/css/navigation.css" />

	</head>

	<body>
		<div class="nav">
			<span class="nav_menu"></span>
			<a href="/views/homepage.html" class="nav_logo"></a>
			<a href="/views/user/user.html" class="nav_user"></a>
			<a href="/views/order/cart.html" class="nav_cart">
				<p class="nav_cartnum">0</p>
			</a>

			<div class="nav_modal">
				<div class="nav_modal_content">
					<div class="nav_modal_title">
						<span class="nav_modal_logo"></span>
						<span class="nav_modal_close">
							<i></i>
						</span>
					</div>
					<ul class="nav_modal_tab">
						<li>产品类别</li>
						<li>浏览历史</li>
					</ul>
					<div class="nav_modal_page">
						<ul class="nav_modal_type">
						</ul>
					</div>
					<div id="history_content" class="nav_modal_page"></div>
				</div>
			</div>
		</div>
		<!--<div class="title">
			<span class="back"><a href="/location"></a></span>
			<span class="titlename">管理收货地址</span>
			<div class="clear">
			</div>
		</div>-->
		<div class="header">
			<h1>管理收货地址</h1>
		</div>
		<div class="addresscontain">
		</div>
		<div id="addbtn" class="addbtn">
			<a href="/location/addinit">新增收货地址</a>

		</div>

		<script type="text/javascript" src="/jquery/dist/jquery.js"></script>
		<script src="/js/navigation.js" type="text/javascript" charset="utf-8"></script>
		<script src="/js/user/history.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			$(function() {
				$.ajax({
					type: "get",
					url: "/location/getLocation",
					async: true,
					success: function(data) {
						console.log("ssss" + data);
						for(var i = 0; i < data.length; i++) {
							if(data[i].flag == 1) {
								$(".addresscontain").append(
									"<div class='addressitem activeitem'>" +
									"<input type='hidden' value='" + data[i]._id + "'/>" +
									"<p class='infoline'>" +
									"<span class='consignee'>收货人:" +
									data[i].shname +
									"</span>" +
									"<span class='consigneetel'>电话:" +
									data[i].phone +
									"</span>" +
									"</p>" +
									"<p class='consigneeaddress'>收货地址:" +
									data[i].province + " " + data[i].city + " " + data[i].district + " " + data[i].address +
									"</p>" +
									"</div>"
								);
							} else {
								$(".addresscontain").append(
									"<div class='addressitem' >" +
									"<input type='hidden' value='" + data[i]._id + "'/>" +
									"<p class='infoline'>" +
									"<span class='consignee'>收货人:" +
									data[i].shname +
									"</span>" +
									"<span class='consigneetel'>电话:" +
									data[i].phone +
									"</span>" +
									"</p>" +
									"<p class='consigneeaddress'>收货地址:" +
									data[i].province + " " + data[i].city + " " + data[i].district + " " + data[i].address +
									"</p>" +
									"</div>"
								);
							}
						}
					}
				});

				$(".addresscontain").on('click', '.addressitem', function() {
					var id = $(this).find("input").val();
					$.ajax({
						type: "get",
						url: "/location/updateinit/" + id,
						async: true,
						success: function(data) {
							console.log(data);
							location.href = "/location/updateWait/" + id;
						}
					});

				})
				var p = 0,
					t = 0;
				$(window).scroll(function() {
					p = $(this).scrollTop();
					if(t <= p) { //下滚  
						$("#addbtn").fadeOut(500);
					} else { //上滚  
						$("#addbtn").fadeIn(500);
					}
					setTimeout(function() {
						t = p;
					}, 0);
                     
				});

			});
		</script>
	</body>

</html>