<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		
		<title>shoppingcart</title>
		
		<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
		
		<link rel="stylesheet" type="text/css" href="/css/style.css"/>
		<link rel="stylesheet" type="text/css" href="/css/navigation.css"/>
		<link rel="stylesheet" type="text/css" href="/css/order/shoppingcart.css"/>
		
		<script type="text/javascript">
			window.onload = function(){
				if(sessionStorage.user == null || sessionStorage.user == "null" || sessionStorage.user ==""){
//					self.location = "/views/user/login.html";
//					location.assign("/views/user/login.html");
				}
			}
		</script>
		
	</head>
	<body>
		<div class="nav">
			<span class="nav_menu"></span>
			<a href="/views/homepage.html" class="nav_logo"></a>
			<a href="/views/user/user.html" class="nav_user"></a>
			<a href="/order" class="nav_cart">
				<p class="nav_cartnum">0</p>
			</a>
			
			<div class="nav_modal">
				<div class="nav_modal_content">
					<div class="nav_modal_title">
						<span class="nav_modal_logo"></span>
<!--						<h2>欢迎您</h2>-->
						<span class="nav_modal_close">
							<i></i>
						</span>
					</div>
					<ul class="nav_modal_tab">
						<li>产品类别</li>
						<li>浏览历史</li>
					</ul>
					<div class="nav_modal_page">
						<ul class="nav_modal_type">
						</ul>
					</div>
					<div class="nav_modal_page">
						<ul class="nav_modal_history">
						</ul>
					</div>
				</div>
			</div>
		</div>
		
		<div class="header">
			<h1>购物车</h1>
		</div>
		
		<div class="banner">
			<div class="cart_search">
				<img src="../../img/innisfreeIco/search.png"/>
				<input type="text" class="search_text" placeholder="搜索购物车"/>
			</div>
			<h2 onmousedown="cartsearch()">搜索</h2>
		</div>
		
		<div class="content">
			<ul class="cart">
				<li class="cart_item">
					<form action="">
						<div class="item_check">
							<input type="checkbox" />
						</div>
						<img src="../../img/innisfree-img/goods/1000000311_l.png"/>
						<div class="item_info">
							<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium corporis at quas facere voluptas aliquam eos necessitatibus cupiditate officia aspernatur illum vel omnis totam in eaque odit quisquam tempore unde!</h2>
							<ul class="good_size">
								<li><h3>绿色</h3></li>
								<li><h3>150ml</h3></li>	
							</ul>
							<div class="info_bottom">
								<p>￥1234.00</p>
								<span><i class="item_sub"></i></span>
								<input type="text" value="1"/>
								<span><i class="item_add"></i></span>
							</div>
						</div>	
					</form>
				</li>
				<li class="cart_item">
					<form action="">
						<div class="item_check">
							<input type="checkbox" />
						</div>
						<img src="../../img/innisfree-img/goods/1000000311_l.png"/>
						<div class="item_info">
							<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium corporis at quas facere voluptas aliquam eos necessitatibus cupiditate officia aspernatur illum vel omnis totam in eaque odit quisquam tempore unde!</h2>
							<ul class="good_size">
								<li><h3>绿色</h3></li>
								<li><h3>150ml</h3></li>	
							</ul>
							<div class="info_bottom">
								<p>￥1234.00</p>
								<span><i class="item_sub"></i></span>
								<input type="text" value="1"/>
								<span><i class="item_add"></i></span>
							</div>
						</div>	
					</form>
				</li>
				<li class="cart_item">
					<form action="">
						<div class="item_check">
							<input type="checkbox" />
						</div>
						<img src="../../img/innisfree-img/goods/1000000311_l.png"/>
						<div class="item_info">
							<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium corporis at quas facere voluptas aliquam eos necessitatibus cupiditate officia aspernatur illum vel omnis totam in eaque odit quisquam tempore unde!</h2>
							<ul class="good_size">
								<li><h3>绿色</h3></li>
								<li><h3>150ml</h3></li>	
							</ul>
							<div class="info_bottom">
								<p>￥1234.00</p>
								<span><i class="item_sub"></i></span>
								<input type="text" value="1"/>
								<span><i class="item_add"></i></span>
							</div>
						</div>	
					</form>
				</li>
				<li class="cart_item">
					<form action="">
						<div class="item_check">
							<input type="checkbox" />
						</div>
						<img src="../../img/innisfree-img/goods/1000000311_l.png"/>
						<div class="item_info">
							<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium corporis at quas facere voluptas aliquam eos necessitatibus cupiditate officia aspernatur illum vel omnis totam in eaque odit quisquam tempore unde!</h2>
							<ul class="good_size">
								<li><h3>绿色</h3></li>
								<li><h3>150ml</h3></li>	
							</ul>
							<div class="info_bottom">
								<p>￥1234.00</p>
								<span><i class="item_sub"></i></span>
								<input type="text" value="1"/>
								<span><i class="item_add"></i></span>
							</div>
						</div>	
					</form>
				</li>
				<li class="cart_item">
					<form action="">
						<div class="item_check">
							<input type="checkbox" />
						</div>
						<img src="../../img/innisfree-img/goods/1000000311_l.png"/>
						<div class="item_info">
							<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium corporis at quas facere voluptas aliquam eos necessitatibus cupiditate officia aspernatur illum vel omnis totam in eaque odit quisquam tempore unde!</h2>
							<ul class="good_size">
								<li><h3>绿色</h3></li>
								<li><h3>150ml</h3></li>	
							</ul>
							<div class="info_bottom">
								<p>￥1234.00</p>
								<span><i class="item_sub"></i></span>
								<input type="text" value="1"/>
								<span><i class="item_add"></i></span>
							</div>
						</div>	
					</form>
				</li>
				<li class="cart_item">
					<form action="">
						<div class="item_check">
							<input type="checkbox" />
						</div>
						<img src="../../img/innisfree-img/goods/1000000311_l.png"/>
						<div class="item_info">
							<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium corporis at quas facere voluptas aliquam eos necessitatibus cupiditate officia aspernatur illum vel omnis totam in eaque odit quisquam tempore unde!</h2>
							<ul class="good_size">
								<li><h3>绿色</h3></li>
								<li><h3>150ml</h3></li>	
							</ul>
							<div class="info_bottom">
								<p>￥1234.00</p>
								<span><i class="item_sub"></i></span>
								<input type="text" value="1"/>
								<span><i class="item_add"></i></span>
							</div>
						</div>	
					</form>
				</li>
				<li class="cart_item">
					<form action="">
						<div class="item_check">
							<input type="checkbox" />
						</div>
						<img src="../../img/innisfree-img/goods/1000000311_l.png"/>
						<div class="item_info">
							<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium corporis at quas facere voluptas aliquam eos necessitatibus cupiditate officia aspernatur illum vel omnis totam in eaque odit quisquam tempore unde!</h2>
							<ul class="good_size">
								<li><h3>绿色</h3></li>
								<li><h3>150ml</h3></li>	
							</ul>
							<div class="info_bottom">
								<p>￥1234.00</p>
								<span><i class="item_sub"></i></span>
								<input type="text" value="1"/>
								<span><i class="item_add"></i></span>
							</div>
						</div>	
					</form>
				</li>
				<li class="cart_item">
					<form action="">
						<div class="item_check">
							<input type="checkbox" />
						</div>
						<img src="../../img/innisfree-img/goods/1000000311_l.png"/>
						<div class="item_info">
							<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium corporis at quas facere voluptas aliquam eos necessitatibus cupiditate officia aspernatur illum vel omnis totam in eaque odit quisquam tempore unde!</h2>
							<ul class="good_size">
								<li><h3>绿色</h3></li>
								<li><h3>150ml</h3></li>	
							</ul>
							<div class="info_bottom">
								<p>￥1234.00</p>
								<span><i class="item_sub"></i></span>
								<input type="text" value="1"/>
								<span><i class="item_add"></i></span>
							</div>
						</div>	
					</form>
				</li>
				<li class="cart_item">
					<form action="">
						<div class="item_check">
							<input type="checkbox" />
						</div>
						<img src="../../img/innisfree-img/goods/1000000311_l.png"/>
						<div class="item_info">
							<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium corporis at quas facere voluptas aliquam eos necessitatibus cupiditate officia aspernatur illum vel omnis totam in eaque odit quisquam tempore unde!</h2>
							<ul class="good_size">
								<li><h3>绿色</h3></li>
								<li><h3>150ml</h3></li>	
							</ul>
							<div class="info_bottom">
								<p>￥1234.00</p>
								<span><i class="item_sub"></i></span>
								<input type="text" value="1"/>
								<span><i class="item_add"></i></span>
							</div>
						</div>	
					</form>
				</li>
			</ul>
		</div>
		
		<div class="footer">
			<div class="item_check item_allcheck">
				<input type="checkbox" onclick="checkall()"/>
			</div>
			<h3>全选</h3>
			
			<button type="button">去结算(0)</button>
			
			<h2>总价￥:1234.00</h2>
			
		</div>
		
	</body>
	
	<script type="text/javascript" src="/jquery/dist/jquery.min.js" ></script>
	<script type="text/javascript" src="/angular/angular.min.js" ></script>
	<script src="/js/navigation.js" type="text/javascript" charset="utf-8"></script>
	
	<script type="text/javascript">
		
		$(function(){
			//搜索按钮显示控制
			$(".cart_search input").focus(function(){
				$(".cart_search").animate({"width":"80%"},function(){
					$(".banner h2").show();
				});
				
			});
			$(".cart_search input").blur(function(){
				$(".banner h2").hide();
				$(".cart_search").animate({"width":"96%"});
			});
			
			//多选框控制
			$(".item_check").on("mousedown",function(){
				if ($(this).children("input")[0].checked) {
					$(this).css("background-image","url(../../img/innisfreeIco/unchecked.png)");
					if ($(this)[0] != $(".item_allcheck")[0]) {
						$(".item_allcheck").css("background-image","url(../../img/innisfreeIco/unchecked.png)");
						$(".item_allcheck").children("input")[0].checked = false;
					}
				} else{
					$(this).css("background-image","url(../../img/innisfreeIco/checked.png)");
				}
			});
		
			//商品数量控制
			$(".item_add").click(function(){
				var num = $(this).parent().parent().children("input[type=text]");
				num.val((parseInt(num.val())+1)>99?99:parseInt(num.val())+1);
			});
			$(".item_sub").click(function(){
				var num = $(this).parent().parent().children("input[type=text]");
				num.val((parseInt(num.val())-1)<1?1:parseInt(num.val())-1);
			});
			$(".info_bottom").children("input[type=text]").keydown(function(){
				if (event.keyCode != 8 && event.keyCode != 37 && event.keyCode != 39 && (event.keyCode > 57 || event.keyCode < 48)) {
					event.preventDefault();
				}
			});
			$(".info_bottom").children("input[type=text]").keyup(function(){
				var num = parseInt($(this).val());
				if (num < 1) {
					$(this).val(1);
				} else if (num > 99) {
					$(this).val(99);
				}
			});
			$(".info_bottom").children("input[type=text]").blur(function(){
				if ($(this).val() == "") {
					$(this).val(1);
				}
			});
			
		
		})
		
		function cartsearch () {
			alert("购物车搜索按钮");
		}
		
		//全选框控制
		function checkall(){
			var allChecked = true;
			var checkBtn = $(".item_check");
			
			for (var i = 0; i < checkBtn.length - 1; i++) {
				if (!checkBtn.eq(i).children("input")[0].checked) {
					allChecked = false;
					break;
				}
			}
			
			if (allChecked) {
				for (var i = 0; i < checkBtn.length - 1; i++) {
					checkBtn.eq(i).trigger("mousedown");
					checkBtn.eq(i).children("input")[0].checked = !checkBtn.eq(i).children("input")[0].checked ;
				}
			}else{
				for (var i = 0; i < checkBtn.length - 1; i++) {
					checkBtn.eq(i).css("background-image","url(../../img/innisfreeIco/checked.png)");
					checkBtn.eq(i).children("input")[0].checked = true;
				}
			}
			
		}
	</script>
	
</html>
