.header {
	width: 100%;
	height: 40px;
	text-align: center;
	background: rgba(5, 83, 33, 1);
	color: yellowgreen;
	margin-top: 50px;
}

.header h1 {
	line-height: 40px;
	font-size: 2rem;
	margin: 0;
}

#history_date {
	width: 100%;
}
#history_date input{
	opacity: 0;
}
#date_year {
	margin: 0;
	text-align: center;
	padding: 5px;
	line-height: 20px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}


#history_content {}

#history_content>ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#history_content>ul>li {
	position: relative;
	border-bottom: 1px solid #dcdcdc;
	height: 90px;
	display: inline-block;
}

#history_content>ul>li:active {
	background-color: #dcdcdc;
}

#history_content>ul>li>img {
	width: 80px;
	height: 80px;
	margin: 5px;
}

#history_content>ul>li>h2 {
	height: 20px;
	line-height: 20px;
	font-size: 2rem;
	margin: 0;
	position: absolute;
	top: 10px;
	left: 100px;
}

#history_content>ul>li>span {
	display: block;
}

#history_content>ul>li>.price {
	color: green;
	height: 20px;
	line-height: 20px;
	font-size: 1.5rem;
	margin: 0;
	position: absolute;
	top: 35px;
	left: 100px;
}

#history_content>ul>li>.date {
	height: 20px;
	line-height: 20px;
	font-size: 1.5rem;
	margin: 0;
	position: absolute;
	top: 60px;
	left: 100px;
}