.content {
	width: 100%;
	margin-top: 30%;
	display: block;
}

.input {
	background-color: #fff;
	border: 1px solid #dedede;
	border-radius: 2px;
	width: 80%;
	margin-left: 10%;
	margin-top: 10px;
}

.login {
	width: 80%;
	background-color: green;
	border: 1px solid green;
	border-radius: 5px;
	margin-left: 10%;
	margin-top: 30px;
	color: #fff;
}

.word a {
	color: green;
	font-family: "arial, helvetica, sans-serif";
	font-size: 1rem;
}

.word a:active {
	text-decoration: none;
}

.word_div {
	width: 80%;
	margin-left: 10%;
	margin-top: 10px;
}

#register {
	float: right;
}
#error {
	height: 30px;
	line-height: 25px;
	width: 80%;
	margin-left: 10%;
	color: red;
	font-size: 1rem;
	opacity: 0;
}

#div_show_pwd {
	width: 80%;
	position: relative;
	margin-left: 10%;
}

#div_show_pwd input {
	width: 100%;
	margin-left: 0;
}

#show_pwd {
	display: block;
	width: 30px;
	height: 100%;
	position: absolute;
	top: 0;
	right: 5px;
	background-image: url(../../img/innisfreeIco/eye.png);
	background-size: 30px 100%;
}