header {
	height: 30px;
}

#user_info {
	width: 100%;
	min-height: 200px;
	background-color: #F4FBFC;
	position: relative;
	border-top: 2px solid #C4E9BF;
	border-bottom: 2px solid #C4E9BF;
}

#login {
	width: 100%;
	display: none;
}

#user_photo {
	margin-top: 10%;
	margin-left: 10%;
	border-radius: 50px;
	float: left;
}

#user_photo img {
	width: 100px;
	height: 100px;
}

#user_info_content {
	width: 60%;
	margin-top: 5%;
	float: right;
}

#username {
	font-size: 2rem;
	margin: 0;
	fon
}

#message {
	margin: 10px 0 0 0;
	display: block;
	color: #4fa1d2;
}

#message i {
	margin: 8px 0 12px;
	padding-left: 15px;
	background: url(../../img/ico_message.png) no-repeat 0 50%;
	background-size: auto 60%;
	color: #4fa1d2;
}

#balance {
	font-size: 2rem;
	margin: 10px 0 0 0;
	font-family: "arial rounded mt bold";
	font-size: 1rem;
	display: block;
}

#vip {
	margin: 10px 0 0 0;
	font-size: 1.5rem;
}

#unlogin {
	width: 100%;
}

#unlogin a {
	display: block;
    width: 170px;
    height: 40px;
    line-height: 30px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -20px 0 0 -85px;
    background: green;
    color: #fff;
    border: 1px solid green;
    border-radius: 2px;
    padding: 5px 15px 5px 15px;
}

#unlogin a:active{
	text-decoration: none;
}
